[2022-07-27 08:56] #8917 closed

[2022-07-27 09:00] emersion commented on #8917
It's unfortunate that this requires yet another external plugin.

Workaround: call `FirebaseMessaging.instance.getToken()` at init time and catch exceptions.

[2022-07-27 09:02] tudor07 commented on #9110
@darshankawar `linkData` is null

[2022-07-27 09:30] russellwheatley commented on #6957
Hey @cyberpwnn, those warning messages are coming from the firebase-android-sdk. I suggest you open an issue on their [repository](https://github.com/firebase/firebase-android-sdk) as it is not coming from FlutterFire which is a wrapper around the native SDK.

[2022-07-27 09:34] russellwheatley commented on #8205
We have updated the FlutterFire CLI  to write the `GoogleService-Info.plist` in the relevant directory. Please update first by calling `dart pub global activate flutterfire_cli` and then running `flutterfire configure`. This should solve your issue.

[2022-07-27 09:34] #8205 closed

[2022-07-27 09:44] russellwheatley commented on #8679
We actually have a comprehensive example in the Firestore example app. [See here](https://github.com/firebase/flutterfire/blob/master/packages/cloud_firestore/cloud_firestore/example/lib/main.dart#L393-L435)

[2022-07-27 09:44] #8679 closed

[2022-07-27 09:46] russellwheatley commented on #8918
We do have this on the radar for the FlutterFire CLI. You can follow the [issue here](https://github.com/invertase/flutterfire_cli/issues/14)

[2022-07-27 09:59] russellwheatley commented on #8954
This isn't an issue with FlutterFire dynamic links plugin. With `onLink`, `getInitialLink ` & `getDynamicLink ` we use [this method](https://github.com/firebase/flutterfire/blob/fdb24c8d2cf4c51b20ffdb6c8898b7eced16aa64/packages/firebase_dynamic_links/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebase/dynamiclinks/FlutterFirebaseDynamicLinksPlugin.java#L114) to [pull out the u

[2022-07-27 10:13] rrousselGit commented on #9232
Now that's embarrassing. Let me quickly fix it.

[2022-07-27 10:19] russellwheatley commented on #7059
Docs for iOS say this can be nullable: https://firebase.google.com/docs/reference/ios/firebasestorage/api/reference/Classes/FIRStorageMetadata.html

[2022-07-27 10:19] #7059 closed

[2022-07-27 10:22] darshankawar commented on #9110
Thanks for the update. Using the code sample provided, I am getting same behavior.

[2022-07-27 10:25] darshankawar commented on #9089
The team is actively working on fixing this https://github.com/firebase/flutterfire/pull/9138. Please subscribe to the PR for updates.

[2022-07-27 10:26] russellwheatley commented on #5953
I think given how stale the issue is, we ought to close it out.

[2022-07-27 10:26] #5953 closed

[2022-07-27 10:40] russellwheatley commented on #9040
Hey @ollydixon, we tried to go down the route of dart initialization, but this caused problems as some of the Firebase products for native platforms (out of the control of FlutterFire) still rely on having the service file available . This is why we now write the service files for iOS, android & macOS when you use the FlutterFire CLi (`flutterfire configure`). We're looking to support multiple env

[2022-07-27 10:40] #9040 closed

[2022-07-27 10:46] russellwheatley commented on #6196
@knaeckeKami interesting. That issue has now been fixed on the firebase-ios-sdk, and FlutterFire is using the latest version (9.3.0), can't seem to find the specific fix in the release notes. Is someone able to confirm is this is still a problem?

[2022-07-27 10:50] russellwheatley commented on #9109
Crashlytics on native platforms only support initializing with the default app instance I'm afraid.

[2022-07-27 10:50] #9109 closed

[2022-07-27 10:51] darshankawar commented on #6196
@russellwheatley Same issue was raised yesterday https://github.com/firebase/flutterfire/issues/9227

[2022-07-27 11:04] darshankawar commented on #9211
@LeGoffMael Thanks for the update. Can you try below code sample and see if works for you ?

<details>
<summary> code sample </summary>

[code]

</details>

[2022-07-27 11:11] proczak1 commented on #9158
After 10 messages i still get notified with:
onValue called : 10

[2022-07-27 11:11] knaeckeKami commented on #6196
@russellwheatley I am not sure if the issue I saw is the same or even related to the bug reported here, but the error message was the same. The circumstances were similar (only happening on some devices, not on others- probably just due to the 12h minimum fetch time). This is why I choose to comment the issue here.

The issue I was running into was a purely server-side one though. It happened only

[2022-07-27 11:22] russellwheatley commented on #9049
This is a Flutter issue, we don't have control over build.gradle settings on `flutter create`. And in any event, the feedback couldn't be clearer on how to update.

[2022-07-27 11:22] #9049 closed

[2022-07-27 11:28] russellwheatley commented on #8098
Please install the latest FlutterFire CLI (`dart pub global activate flutterfire_cli`) and run `flutterfire configure`, it will write the config files for android & iOS. We've experienced issues where some Firebase products still expect the config files to be used during runtime.

You can still also pass in the FiresbaseOptions (needed for web platform) as default Firebase app will always initiali

[2022-07-27 11:28] #8098 closed

[2022-07-27 11:33] russellwheatley commented on #6011
Hey @Repox, could you install latest FlutterFire CLI `dart pub global activate flutterfire_cli` & run `flutterfire configure` in your project directory? (this writes Google config files for your native platforms). I suspect this might be the issue. Or if anyone else wants to let me know if this solves the problem, I'd be grateful 🙏

[2022-07-27 11:35] russellwheatley commented on #8762
I have tested this on the latest `firebase_app_check` version and it works as expected. I think there was an issue before we switched to web v9 JS SDK.

[2022-07-27 11:35] #8762 closed

[2022-07-27 12:07] Zazo032 opened #9237 "🐛 [firebase-config] Unknown permission `com.google.android.gms.permission.AD_ID`"
## Bug report

**Describe the bug**
Some Firebase plugin is probably declaring this permission internally, and according to Manifest Merger:
[code]
![image](https://user-images.githubusercontent.com/2807712/181242085-f7fd3010-49a6-483b-89dd-540dd46fe856.png)
![image](https://user-images.githubusercontent.com/2807712/181242157-a1312887-d67f-4e79-8561-c6e6e05c6ec3.png)

### Steps to reproduce

Steps

[2022-07-27 12:17] russellwheatley commented on #8926
FlutterFire CLI now supports writing the `GoogleService-Info.plist` in the Runner when you run `flutterfire configure` which should solve the issue. Please update FlutterFire CLI by running `dart pub global activate flutterfire_cli` first. Thanks.

[2022-07-27 12:17] #8926 closed

[2022-07-27 13:12] russellwheatley commented on #9078
Closing as there is nothing actionable.

[2022-07-27 13:12] #9078 closed

[2022-07-27 13:13] russellwheatley commented on #9186
Thanks for filing an issue in the correct repository. Closing as there is nothing actionable for FlutterFire.

[2022-07-27 13:13] #9186 closed

[2022-07-27 13:15] russellwheatley commented on #9166
We have a release to fixing web persistence coming out today. Thanks.

[2022-07-27 13:15] #9166 closed

[2022-07-27 13:33] NebulaFox opened #9240 "🐛 [flutterfire cli] java.lang.NoSuchMethodException crashing the app after migrating to flutterfire config"
## Bug report

Recently I am on a project that migrated from using google-services file to `flutterfire config` approach. It seems in this migration that something is not configured correctly and is now causing the app to crash on certain phones.

**Note**:

The exceptions are

[code]

and on another occasion

[code]

and

[code]

### `flutterfire config` changes

Creation of `ios/firebase_app_id.

[2022-07-27 13:40] lucavenir commented on #9177
Hi there,

Thanks for your reply.

I can clearly see my `GoogleService_Info.plist` [here](https://github.com/lucavenir/google-sign-in-test/blob/main/app/ios/Runner/GoogleService-Info.plist). Is there anything I'm missing, here? Even if so, as stated [above](https://github.com/firebase/flutterfire/issues/9177#issuecomment-1191548044) (step 3) I initialized the project with `flutterfire configure`.

[2022-07-27 13:57] lucavenir commented on #9177
Hi again,

I guess you meant to add `GoogleService_Info.plist` to XCode. If that's the issue, I just did that to try replicate your building error(s). No errors are displayed to me at build time.

Nonetheless, something changed. When I click the "Login with Google" button, the application crashes. Error message shown on the terminal before crash:
[code]

Furhtermore, on further trials, such error

[2022-07-27 14:18] russellwheatley commented on #9224
It is used to export the mocks as mentioned in the `pubspec.yaml` file: https://github.com/firebase/flutterfire/blob/328b40aadd7d7a5f3a2ee18e1bb6685bd9fb3552/packages/firebase_core/firebase_core_platform_interface/pubspec.yaml#L17

[2022-07-27 14:18] #9224 closed

[2022-07-27 14:25] russellwheatley commented on #9132
Yes, you have to pass `FirebaseOptions` for the web platform. `flutterfire configure` will write the file, and you just have to import the generated options file and pass into `options` for `Firebase.initializeApp()`.

[2022-07-27 14:25] #9132 closed

[2022-07-27 14:30] russellwheatley commented on #9089
This fix has just been released in the latest version `3.6.0`. Thanks.

[2022-07-27 14:30] #9089 closed

[2022-07-27 14:47] deepak786 commented on #9237
It seems that this permission is added automatically by the firebase analytics SDK
https://firebase.google.com/support/release-notes/android#analytics_v20-1-1

But I don't know about the firebase_config.

[2022-07-27 15:13] cruftmonger opened #9241 "🐛 [firebase_auth] Authentication does not persist in flutter web"
## Bug report

A flutter web app will lose its authentication state efter page reload.

### Steps to reproduce

Run a simple app (see gist) that:

1. Listens to the `FirebaseAuth.instance.authStateChanges()`
2. Have a button invoke `FirebaseAuth.instance.signInAnonymously()` (or any other auth method)
3. Render `FirebaseAuth.instance.currentUser.uid` to verify that the user is logged in.
4. Reload

[2022-07-27 16:29] kaumudpa commented on #9241
duplicate of #9089 .

A New version is just released - Please check and if ok close this issue.

[2022-07-27 18:18] biplobsd commented on #9012
This is change work for me.

[code]

[2022-07-27 21:29] robindijkhof commented on #7795
@darshankawar though not reproducible, I think I got a clue. I updated `firebase_auth` and got this issue as a result https://github.com/firebase/flutterfire/issues/9210. TLDR; fatal crash on app close.

Now, somehow the issue in this OP barely occurs now.  So I think the issue is related to closing the app.

[2022-07-28 00:30] graemep-nz opened #9242 "🐛 [FLUTTERFIRE_UI] sign in screen text box state is lost when device rotates"
## Bug report
On the sign in screen if you have entered some text in the email field or password field, when you rotate your device, the text is lost and the fields are empty.

### Steps to reproduce
As above

### Expected behavior
Text should not be lost

### Sample project
simple app as here
https://github.com/firebase/flutterfire/tree/master/packages/flutterfire_ui

### Flutter doctor

<details

[2022-07-28 01:03] #9056 closed

[2022-07-28 01:13] OutdatedGuy opened #9243 "🐛 [firebase_auth] Previous auth state lost after `firebase_auth: ^3.6.0`"
## Bug report

**Describe the bug**
After [PR 9138](https://github.com/firebase/flutterfire/pull/9138) fixed the issue of auth persistence in web, a new problem has occurred.

Previously, auth data was stored in browser's `IndexedDB` but it is now stored in the `Local Storage`. Hence after upgrading the package the previous auth state is lost due to change in storage location.

This is a **HUGE**

[2022-07-28 02:22] windows7lake opened #9244 "🐛 [firebase_messaging] Firebase report a lot of crash by FlutterFirebaseMessagingBackgroundExecutor.executeDartCallbackInBackgroundIsolate"
## Bug report

After I upgrade firebase_messaging to a new version, a lot of crash was reported.
[code]

### Steps to reproduce

No yield reproduce by myself, I receive it  from firebase console.

## Additional context

old version (it works well)
[code]

new version
[code]

### Flutter doctor

Run `flutter doctor` and paste the output below:

<details><summary>Click To Expand</summary>

[code]

<

[2022-07-28 05:12] LeGoffMael commented on #9211
Thank you for the code sample~

Unfortunately i don't seem to be receiving any foreground push notification using it.

https://user-images.githubusercontent.com/22376981/181425474-1ad310b3-1e5a-491f-8929-e4e8f61c0893.mp4

[2022-07-28 05:51] darshankawar commented on #9177
This probably indicates that the google_sign_in setup / config is missing below, as mentioned in plugin's readMe:

[code]

[2022-07-28 05:51] CurtainProgramming commented on #9201
Hey can you please give the dependancy for firebaseauth platform

[2022-07-28 06:26] SavvyBud commented on #9201
@darahankawar / @Lyokone - thank you. We tested with the suggested approach and it is working now.

We can close this issue.

[2022-07-28 06:28] SavvyBud commented on #9201
@CurtainProgramming - you can check the dependencies in the bug report.

[2022-07-28 06:46] CurtainProgramming commented on #9201
@SavvyBud can you please help me, i am trying to add web functionality to this code
import 'package:firebase_core/firebase_core.dart';
import 'package:firebase_auth/firebase_auth.dart';
import 'package:flutter/foundation.dart';
import 'package:flutter/material.dart';
import 'package:firebase_database/firebase_database.dart';

import 'detailspage.dart';
import 'home_page.dart';

enum MobileVerifica

[2022-07-28 06:49] Lyokone commented on #9190
It was added in yesterday's release https://pub.dev/packages/firebase_auth/changelog

[2022-07-28 06:49] #9190 closed

[2022-07-28 06:52] darshankawar commented on #9237
@Zazo032
Please check below links for further details and see if they help further:

https://developers.google.com/interactive-media-ads/docs/sdks/android/dai/android-12
https://support.google.com/googleplay/android-developer/answer/6048248

[2022-07-28 06:58] Lyokone commented on #9201
@CurtainProgramming I'm closing this since the issue is resolved. Feel free to open another issue or ask on Stack Overflow for help :)

[2022-07-28 06:58] #9201 closed

[2022-07-28 07:07] darshankawar commented on #9240
@NebulaFox
Looking at the error log, it doesn't seem to be coming from any flutterfire plugin, but could be related to a conflict between third party plugin you are using, with flutterfire plugin. See [this](https://github.com/firebase/flutterfire/issues/8820) similar issue / log and resolution: https://github.com/firebase/flutterfire/issues/8820#issuecomment-1144606216

Also see similar issue and

[2022-07-28 07:07] CurtainProgramming commented on #9201
@Lyokone please help me before closing

[2022-07-28 07:08] lucavenir commented on #9177
Such configuration is done as explained in [the first comment above](https://github.com/firebase/flutterfire/issues/9177#issue-1313023400) and as you can see it's right [here](https://github.com/lucavenir/google-sign-in-test/blob/3229e1c835130b7705b994372164c4f05c2f6c0d/app/ios/Runner/Info.plist#L49) in my [repo](https://github.com/lucavenir/google-sign-in-test/).

I thank you for your assistance,

[2022-07-28 07:16] darshankawar commented on #9241
Closing this as duplicate of https://github.com/firebase/flutterfire/issues/9089. Please upgrade to latest `firebase_auth` version.

[2022-07-28 07:16] #9241 closed

[2022-07-28 07:31] Lyokone commented on #9243
Hey, thanks a lot for the report, it should be fixed by #9247

[2022-07-28 07:49] darshankawar commented on #9242
Thanks for the report. Using plugin example and running on iOS simulator shows same behavior as reported:

<img width="354" alt="Screenshot 2022-07-28 at 1 06 17 PM" src="https://user-images.githubusercontent.com/67046386/181448761-262f479d-aa61-46a0-b458-86c0451cd6e5.png">
<img width="713" alt="Screenshot 2022-07-28 at 1 06 30 PM" src="https://user-images.githubusercontent.com/67046386/181448778-

[2022-07-28 08:16] Zazo032 commented on #9237
Those articles were not very helpful, since they always refer to the Google Mobile Ads SDK, but we're not using it. We're using the following Firebase plugins

[code]

[2022-07-28 08:16] darshankawar commented on #9244
@windows7lake Can you again try to upgrade all plugins to their latest versions and see if you still get same crash ?

[code]

[2022-07-28 08:23] windows7lake commented on #9244
Yeah, I will try.

[2022-07-28 09:31] darshankawar commented on #9211
Can you take a look at this issue and underlying comments / code and see if it helps ? https://github.com/firebase/flutterfire/issues/7243

[2022-07-28 09:39] #9232 closed

[2022-07-28 09:42] darshankawar commented on #9158
Thanks for the update. Using the code sample provided [earlier](https://github.com/firebase/flutterfire/issues/9158#issuecomment-1196430960), I see same behavior as reported, but I am not completely sure if this is expected behavior or a potential bug with how `get()` retrieves the data. Also, the fact that using `once()`, it works as expected.

May be a related  issue on how `get()` retrieves the

[2022-07-28 09:46] darshankawar commented on #9177
Thanks for your feedback and patience. Going ahead and labeling it for further insights from the team on this.

/cc @kevinthecheung @russellwheatley

[2022-07-28 09:53] kaumudpa commented on #9243
It is not fixed.

[2022-07-28 09:54] Lyokone commented on #9243
@kaumudpa it's not deployed yet

[2022-07-28 09:58] cruftmonger commented on #9089
I upgraded to 3.6.0 but see the same problem. I updated my original issue with a new dependency list. The rest of the problem description remains the same. https://github.com/firebase/flutterfire/issues/9241#issue-1319713520

[2022-07-28 10:00] kaumudpa commented on #9243
Nope! I am sorry but there is another problem with the auth state in web since `firebase_auth: 3.5.0` - If browser page is refresh/reloaded after the initial authentication of a user sends out `unauthorised` while trying to access firestore.

[2022-07-28 10:01] kaumudpa commented on #9089
True.

There is another problem with the auth state in web since firebase_auth: 3.5.0 - If browser page is refresh/reloaded after the initial authentication of a user sends out unauthorised while trying to access firestore.

[2022-07-28 10:01] kaumudpa commented on #9089
Also check #9243

[2022-07-28 10:02] cruftmonger commented on #9089
I still get the same problem with 3.6.0. Did you add a regression test for it? https://github.com/firebase/flutterfire/issues/9241

[2022-07-28 10:10] deepak786 commented on #9243
@Lyokone I have the following error with `firebase_auth: 3.6.0`

[code]

Will this PR https://github.com/firebase/flutterfire/pull/9247 resolved the above issue?

[2022-07-28 10:10] cruftmonger commented on #9243
Deployed? Wasn't the problem in `firebase_auth < 3.6.* `?

[2022-07-28 10:11] AdamLBS commented on #9089
On my side it has been fixed while upgrading to ``3.6.0`` whenever the page is refreshed I'm still logged in, current dependencies are :

``firebase_core: ^1.20.0
  firebase_auth: ^3.6.0
  cloud_firestore: ^3.4.1``

[2022-07-28 10:28] darshankawar commented on #9237
This most probably belongs upstream. See similar issue open : https://github.com/firebase/firebase-android-sdk/issues/2582
I suggest you to follow-up in that issue for further updates.
Closing from here, as this doesn't seem to be actionable from Flutterfire.

[2022-07-28 10:28] #9237 closed

[2022-07-28 10:53] graemep-nz commented on #9242
I added some debug code and it shows that CreateState is getting called for the stateful widget that holds the text editing controllers when the screen is rotated.
This is what happens on restart
[code]

This is what happens on screen rotation

[code]

[2022-07-28 10:56] #9106 closed

[2022-07-28 11:02] cruftmonger commented on #9241
Upgraded to` firebase_auth 3.6.0`. The problem remains.  Updated the dependency listing. Everything else the same.

[2022-07-28 11:05] rohansohonee commented on #9140
Also faced this issue after upgrading to JS v9

[code]

[2022-07-28 12:15] Lyokone commented on #9243
@OutdatedGuy It should be fixed with 3.6.1

[2022-07-28 12:16] Lyokone commented on #9106
It was fixed with 3.6.1

[2022-07-28 12:33] cruftmonger commented on #9241
The eminent @OutdatedGuy reported in a comment to https://github.com/firebase/flutterfire/issues/9243 that that problem was fixed in 3.6.1. It turns out that this fix also fixes this issue. All is well that ends well. It would have been nice with a heads-up here and in https://github.com/firebase/flutterfire/issues/9089

Thanks!

[2022-07-28 12:36] LAPPIT commented on #9106
Tested the new version and it worked fine :) Thanks!

[2022-07-28 13:23] russellwheatley commented on #9240
Hey @NebulaFox, not sure why this would occur from `flutterfire configure`. Just so you're aware, the latest version of FlutterFire CLI writes your service files in the relevant directory for iOS, macOS & android.

[2022-07-28 13:28] #8349 closed

[2022-07-28 13:43] OutdatedGuy commented on #9243
@Lyokone, thanks for the update. But I have one doubt about [PR 9247](https://github.com/firebase/flutterfire/pull/9247)

This PR introduces a new enum value `Persistence.INDEXED_DB` to store the auth state in browser's `IndexedDB`.
However, the [official firebase docs](https://firebase.google.com/docs/reference/js/auth.persistence) states that:

Also, from [this answer on stackoverflow](https://s

[2022-07-28 13:57] deepak786 commented on #9091
Same issue in profile and release mode only.
Working fine in debug build.

[2022-07-28 14:04] ScottWallace commented on #9091
Apparently, this thread is labeled as "waiting for customer response", so, no attention. @Lyokone, @russellwheatley, @darshankawar, others, can you tell us what further information you need before you move on this? We've delayed a release for a week waiting for at least some kind of work-around. This is a hard stop, we need some attention here.

[2022-07-28 14:57] russellwheatley commented on #9110
I've just tested this with and without the `GoogleService-Info.plist` file, and it works when the app is killed (i.e. the deep link is present). I'm going to update the Dynamic Links example app so you can test it for yourself (double check what possible config you may have set incorrectly) as there a few things that need updating. A couple of things that are necessary:

1. It needs to be run in r

[2022-07-28 15:09] Lyokone commented on #9091
@ScottWallace we're waiting for a full repro as I was unable to reproduce with the provided information. A similar thing happen in Cloud Firestore and was due to dart2js issue.

The workaround you can try is to release with `flutter build web --debug` even tho it's not ideal.

[2022-07-28 15:15] kaumudpa commented on #9241
The problem is not resolved even in firebase_auth 3.6.1 !

[2022-07-28 15:19] Lyokone commented on #9243
@OutdatedGuy, the new enum is mapping the full Persistence enum of the underlying JS SDK. If you don't set any persistence value, it will be the default of the JS SDK which is IndexedDB

[2022-07-28 15:19] cruftmonger commented on #9241
It works for me now. Note that there will be a null event emitted on the `FirebaseAuth.instance.authStateChanges()` stream before the subsequent event with the restored User.

[2022-07-28 15:25] russellwheatley commented on #9067
Hey @SoftWyer, I'm happy to look into this once there is an MCVE.

[2022-07-28 15:25] kaumudpa commented on #9241
@charafau Can you please explain how you resolved this? cause i am unable to make this work!

[2022-07-28 16:19] MatthewPatience commented on #9243
Confirmed that this has resolved the issue for me with today's release of `3.6.1`.

[2022-07-28 19:14] JoshRice1 opened #9252 "🐛 [cloud_firestore] Unknown app crash: FIRESTORE INTERNAL ASSERTION FAILED: value.has_value()"
## Bug report

**Describe the bug**
Not able to consistently reproduce but on iOS we have uses that are in crash loops with the following error.:

Fatal Exception: NSInternalInconsistencyException
FIRESTORE INTERNAL ASSERTION FAILED: value.has_value()

Note:
This issue has just come to light.   We have been using this for 2+ years without an occurrence of this and wasn't until the last two updates

[2022-07-28 20:20] kevinthecheung commented on #7467
Done. Thanks, Nils!

https://firebase.google.com/docs/firestore/quickstart#dart

[2022-07-28 20:20] #7467 closed

[2022-07-28 21:00] nilsreichardt commented on #7467
Cool, thanks @kevinthecheung!

[2022-07-28 21:26] lucavenir commented on #9177
I can see the `platform: ios` tag. I can kind-of apply the above statements for android, too, since this is a documentation issue. I'll file a detailed android report while following the documentation and see if I'm able to "log in with google".

[2022-07-28 22:22] OutdatedGuy commented on #9243
Hey @Lyokone thanks for the explanation, I understand the mapping, but doesn't the `JS` public usage for Persistence only contains 3 values? [Here](https://github.com/firebase/firebase-js-sdk/blob/master/packages/auth/src/model/public_types.ts#L324-L332)

I think the `IndexedDB` mapping should be done internally instead of have a Public enum value. Just to keep consistency between APIs between js

[2022-07-28 23:17] sgehrman opened #9255 "flutterfire_ignore_scripts is null and crashes"
Yeah, still happens in every one of my projects using firebase_core.

I'm on web if that matters.  Reported this a while ago, never got back because I thought it was obvious.

![gnome-shell-screenshot-A5Z9P1](https://user-images.githubusercontent.com/287137/181652759-7e1e3ac6-91cd-497f-abaf-64703aa7a488.png)

Since there haven't been any recent updates here, I am going to close this issue.

@sgehr

[2022-07-28 23:18] sgehrman commented on #9255
turn on 'All Exceptions' and 'Uncaught Exceptions' in the vscode debugger.

[2022-07-28 23:34] sgehrman opened #9256 "🐛 [firebase_core_web] No Firebase App '[DEFAULT]' has been created - call Firebase App.initializeApp()"
This has been happening for a while, but never reported it.

I set breakpoints for All Exceptions and Uncaught Exceptions and I get this every time.  Latest flutter, packages etc.

![gnome-shell-screenshot-MA33P1](https://user-images.githubusercontent.com/287137/181654238-00cbb1b0-c3ef-4cd3-94d4-2b3f02f7b311.png)

[2022-07-29 00:27] OutdatedGuy commented on #9243
Never mind, the v9 JS SDK has complete changes and the docs are not well provided. New enum is necessary to be compatible with v9 JS `setPersistence` method. Thanks @Lyokone

[2022-07-29 00:27] #9243 closed

[2022-07-29 01:03] #9066 closed

[2022-07-29 01:06] makoto-ishibashi opened #9257 "🐛 [firebase_core] Fails when changing storageBucket in firebase_options.dart"
## Bug report
If you change the configuration after using `flutterfire configure`, an error will occur when calling the `initializeApp` method.

### Steps to reproduce
1. Create a new flutter project.
2. Run `flutter pub add firebase_core`
3. Run `flutterfire configure`
4. Make the main function according to the official doc.
[code]
5. Run the app --> success
6. Next, in the `firebase_options.dart

[2022-07-29 03:33] LeGoffMael commented on #9211
Sorry but I don't see what part of this issue can help me. Receiving notifications is not a problem, but clicking on them to interact with them is.

I tried to use the "solution" described in the issue but it does not changes anything

<details><summary>code sample</summary>

[code]
</details>

[2022-07-29 03:38] graemep-nz opened #9258 "🐛 [FLUTTERFIRE_UI] Password field needs a "show password" icon"
## Bug report
There is no "show password" icon in the password edit box

### Expected behavior
Need to be able to toggle show/hide password

### Sample project
Code as here
https://github.com/firebase/flutterfire/tree/master/packages/flutterfire_ui

Attached zip file has changes needed for Material app, not Cupertino.  Can be done just by changing universal_text_form_field.dart  - if "obscure" is

[2022-07-29 03:40] graemep-nz commented on #9258
[email_form.zip](https://github.com/firebase/flutterfire/files/9215859/email_form.zip)

[2022-07-29 04:02] #9091 closed

[2022-07-29 04:49] Lyokone commented on #9256
Hey, I used the latest version and everything is working properly on web.
Have you added the proper config in your main?
[code]
Without any reproduction we will not be able to help you.

[2022-07-29 04:53] Lyokone commented on #9257
Hello,
When you use `flutterfire condigure`, it also adds a `google-services.json` file in your `android` folder.
You probably need to modify the bucket here too.

[2022-07-29 04:57] Lyokone commented on #9252
Hello,
Thanks for your report, it's caused by a [bug in the underlying SDK](https://github.com/firebase/firebase-ios-sdk/issues/9985)
The new version 9.4.0 of the iOS SDK is planned around August 2 so we will be able to fix it then.

[2022-07-29 05:23] makoto-ishibashi commented on #9257
@Lyokone
Thanks. I also changed `google-services.json`.  But the result was the same.

[2022-07-29 05:27] Lyokone commented on #9257
Did you add the bucket you want to add to your Firebase project?
You need to go to your Firebase console, on storage and click on the 3 dots to add it.
![Screenshot_20220729-072552_Chrome.png](https://user-images.githubusercontent.com/3680002/181688771-4f5a1721-23c4-491a-9c62-4b8d9f7df807.png)

[2022-07-29 05:40] makoto-ishibashi commented on #9257
@Lyokone
The sample above is using the free version of firebase, so I didn't actually add the bucket.
However, the same phenomenon occurs in the actual product (where an added bucket exists).
And, I don't think `flutterfire` checks if the bucket exists at initializeApp.

[2022-07-29 05:48] makoto-ishibashi commented on #9257
It seems to have been resolved.

1. Change `firebase_options.dart`
2. Change the corresponding part of `google-services.json`
3. Run **flutter clean**
4. Run the app --> success!

@Lyokone 's information was helpful.

[2022-07-29 05:48] #9257 closed

[2022-07-29 06:39] AgungLaksana opened #9259 "🐛 [firebase_performance] Firebase performance still collecting data on Flutter when monitoring Custom URL"
## Bug report

**Describe the bug**
I can't gather data from Flutter app to Firebase performance console for monitoring custom URL

### Steps to reproduce

Steps to reproduce the behavior:

I am using Firebase Performance Monitoring for my Flutter app. I am using this package

 - firebase_performance: ^0.8.2+1
 - firebase_core: ^1.20.0

I want to monitor the performance of network request custom U

[2022-07-29 06:49] darshankawar commented on #9255
Could it be related to the other error you reported ? https://github.com/firebase/flutterfire/issues/9256, because it seems the reported method is called inside `_initializeCore()`:

https://github.com/firebase/flutterfire/blob/c2771a425bd7260b11970e9e9e77ef40a39f9f16/packages/firebase_core/firebase_core_web/lib/src/firebase_core_web.dart#L107

But since you are not able to initialize it as mentio

[2022-07-29 07:12] darshankawar commented on #9258
Treating this as an enhancement.

/cc @lesnitsky

[2022-07-29 07:39] mono0926 commented on #8762
@russellwheatley @darshankawar

As far as I can verify on my end, the error still occurs 🤔

[code]

[2022-07-29 08:24] darshankawar commented on #9259
I think this arises due to probably, no clear picture of how the metrics is collected using this plugin. The same is discussed in this open issue: https://github.com/firebase/flutterfire/issues/4397 in which you can follow-up on for further updates, and also share your findings.
Closing this as a duplicate. If you disagree, write in comments and I'll reopen it.

[2022-07-29 08:24] #9259 closed

[2022-07-29 08:30] cruftmonger commented on #9241
I didn't do anything. They fixed the bug. The example I provided in my bug report now works. https://gist.github.com/cruftmonger/80b44d82d78a622110be41d7d68d2dc4

[2022-07-29 08:46] lalitf commented on #9148
@darshankawar please don't close this can you add firebase dynamic label in it so they can look into it.

[2022-07-29 08:52] AgungLaksana commented on #4397
hi @darshankawar could you please update the link? it seems the link is no longer relevant since the docs already migrate to firebase.com. Thank you very much

[2022-07-29 09:09] AgungLaksana commented on #4397
is this custom URL working now ?

[2022-07-29 10:48] darshankawar commented on #9211
Thanks for the update. I tried the same using code sample share earlier and do see same behavior.

[2022-07-29 11:06] darshankawar commented on #9148
Check [this](https://github.com/firebase/flutterfire/issues/8926#issuecomment-1196653932) and see if it helps.

[2022-07-29 12:58] sentd94 opened #9261 "[cloud_firestore] Have snapshots() method emit errors for devs to handle!"
### Discussed in https://github.com/firebase/flutterfire/discussions/9260

<div type='discussions-op-text'>

<sup>Originally posted by **sentd94** July 29, 2022</sup>
When listening to realtime updates of a collection, no errors / exceptions are emitted to the stream (for example if the client cannot get a connection to the server):

[code]

**Why is this important?**

Sometimes you need to differ

[2022-07-29 13:17] russellwheatley opened #9262 "Support manually adding Google Service files without using flutterfire configure"
https://github.com/firebase/flutterfire/blob/ea03c6b349ccd63317f96e37c85daf7e11f2a28a/packages/firebase_core/firebase_core_platform_interface/lib/src/method_channel/method_channel_firebase.dart#L89

This line should be called without needing FlutterFire configure

[2022-07-29 13:40] russellwheatley opened #9263 "(analytics) Add the option to set default config on Web"
According to https://github.com/firebase/firebase-js-sdk/issues/5812 we can have the same behaviour as `setDefaultEventParameters` by using https://firebase.google.com/docs/reference/js/analytics.md?hl=fi#initializeanalytics

[2022-07-29 16:27] zzterrozz commented on #8564
hi @russellwheatley , it happens for any quantity.

[2022-07-29 17:48] hugopretorius914 commented on #9106
3.6.1 fixed the auth persistence bug. I am still experiencing the `Uncaught TypeError: Cannot read properties of undefined (reading 'apply')` in production. Works fine in debug

[2022-07-29 18:11] shadowboxingskills commented on #9106
+1. production build still breaks due to this `undefined (reading 'apply')` bug

[2022-07-29 18:32] ViniciusSossela commented on #9106
@hugopretorius914 @shadowboxingskills have you tried with these versions ?
[code]

[2022-07-29 18:33] Hesamedin commented on #9015
I got it into work after spending 8 days on this issue on my laptop as well as CI.
These are the things I can summarise.

**First**, clean your ios project by deleting the following files and folders. Don't worry, they will be generated again.
Alternatively, you can run [this script](https://gist.github.com/Hesamedin/c960d9bcd80b7e1c2e582232e5e7320d) that does the same thing and runs the app after

[2022-07-29 18:47] IvanKastorsky opened #9265 "🐛 [cloud_firestore_web] NoSuchMethodError: method not found: 'apply' on null"
## Bug report

**Describe the bug**
I'm facing this error message when I use FieldValue.arrayUnion() inside the .set() of a document

ERROR: NoSuchMethodError: method not found: 'apply' on null

### Steps to reproduce

``try {
        FirebaseFirestore.instance.collection(xxx).doc(xxx).set(
                {
                        'test_field': FieldValue.arrayUnion(['c']),
                 },

[2022-07-29 18:56] rlee1990 opened #9266 "🐛 [firebase_app_check] Error When Using iOS"
## Bug report
I get the below error when trying to use Firebase Appcheck with iOS in Flutter.
[code]
[✓] Flutter (Channel stable, 2.10.5, on macOS 12.4 21F79 darwin-arm, locale
    en-US)
    • Flutter version 2.10.5 at /Users/rickeylee/Desktop/dev/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 5464c5bac7 (3 months ago), 2022-04-18 09:55:37 -0700

[2022-07-29 18:57] shadowboxingskills commented on #9106
Yes, upgraded to these latest versions above but crash still occurs in production (not in debug)

[2022-07-29 19:29] hugopretorius914 commented on #9106
Yes, I get the same as @shadowboxingskills the crash still happens in production with all those version but works fine in debug

[2022-07-29 21:01] OutdatedGuy opened #9267 "🐛 [not sure] Firebase project verification fails on mobile web"
## Bug report

**Describe the bug**
I don't know if this is related to flutter or firebase, but...

When running flutter web on mobile (using chrome dev-tools), an error is logged in the console as project verification fails.
But no error is logged when using flutter web in desktop(normally i.e. without dev-tools opened).

### Steps to reproduce

Steps to reproduce the behavior:

1. Go to [Working

[2022-07-29 21:56] Epikur86 opened #9268 "🐛 [firebase_dynamic_links] Cannot query firebase short-url"
## Bug report

I'm trying to query short-urls in my Flutter application. I'm able to query long-url but not short ones. If I'm using short-links the app does open, but FirebaseDynamicLinks.instance.onLink is not being triggered. Maybe someone knows how to convert short-links to links, which can be queried. I use this function to query the DynamicLink:

### Steps to reproduce

[code]

### Flutter d

[2022-07-29 23:47] Ahmadre opened #9269 "🐛 [core-web] No Firebase App '[DEFAULT]' has been created - call Firebase.initializeApp()"
## Bug report

**Describe the bug**
Under no versions of firebase_web I am able to run my app on Flutter Web (3.0.5).

I am struggling since one month with this an trying all kind of versions...

firebase_core: 1.20.0
firebase_core_platform_interface: 4.5.0
firebase_core_web: 1.7.1

---

## Bug

[code]

## Additional Context

This issue was posted several times and yes I cleared my Pub-Cache local

[2022-07-30 00:01] Ahmadre commented on #9269
![Bildschirmfoto 2022-07-30 um 02 01 24](https://user-images.githubusercontent.com/18512224/181861871-9ccfbe90-4f0c-4b49-bf55-0d8b39fce8d9.png)

[2022-07-30 00:02] Ahmadre commented on #9269
![Bildschirmfoto 2022-07-30 um 02 02 32](https://user-images.githubusercontent.com/18512224/181861903-028b45ac-30b9-47e6-b729-1cb01aa73dea.png)

[2022-07-30 00:03] Ahmadre commented on #9269
![Bildschirmfoto 2022-07-30 um 02 02 51](https://user-images.githubusercontent.com/18512224/181861917-da54dd08-c5de-4400-b993-fb5c92ed908a.png)

[2022-07-30 00:16] Ahmadre commented on #9269
I switched to manual installation and it works directly.... (https://firebase.flutter.dev/docs/manual-installation/web)

[2022-07-30 01:06] arnoorani opened #9270 "🐛 [firebase_storage: ^10.3.1] Lexical or Preprocessor Issue (Xcode): 'FirebaseStorage/FIRStorageTypedefs.h' file not found"
'FirebaseStorage/FIRStorageTypedefs.h' file
not found
/Users/Desktop/Apps/Flutter_Dev/flutter2/flutter2_8/flutter/.pub-cac
he/hosted/pub.dartlang.org/firebase_storage-10.3.4/ios/Classes/FLTFirebaseStoragePl
ugin.m:6:8

suddenly started to get this error yesterday, is anyone else have this issue?
Flutter 2.10.4

[2022-07-30 16:05] Dinesh-DK opened #9272 "🐛 [firebase_auth] FirebaseAuthException: [firebase_auth/missing-client-identifier] on OnePlus8Pro"
## Bug report

**Describe the bug**
An exception of the following type is being thrown **Only on OnePlus8Pro** while I try to use `FirebaseAuth.instance.verifyPhoneNumber` method while doing mobile number verification on a flutter app.

FirebaseAuthException: [firebase_auth/missing-client-identifier] This request is missing a valid app identifier, meaning that neither SafetyNet checks nor reCAPTCH

[2022-07-30 17:33] Epikur86 commented on #9268
Can be closed. On Gmail it works perfectly fine, but not on BlueMail

[2022-07-30 17:34] Epikur86 commented on #9268
On Gmail it works perfectly fine, but not on BlueMail.

[2022-07-30 17:34] #9268 closed

[2022-07-30 20:18] Justus-M commented on #9010
Strangely, this isn't working for me. I restored my old AppDelegate.swift file and switched to your recommended package versions, but received the error again.

Unfortunately replacing AppDelegate.swift results in an app crash for some of my users during firebase auth sms verification, so I'm still looking for a workaround that doesn't involve replacing AppDelegate.swift, But I currently don't hav

[2022-07-30 22:08] zitob9 commented on #9231
@darshankawar Thank you very much for your help, is there any solution other than upgrading the flutter because this will cost me a lot of work.

[2022-07-31 03:30] hungryemon commented on #9126
What is the process to update BoM version in Flutter?

[2022-07-31 07:11] RajendraAVerma commented on #9089
After waiting for about 2 week, issue has been fixed. thanks ❤️.

[2022-07-31 07:21] RajendraAVerma commented on #3356
This issue is fixed Now.  #9089
This fix has just been released in the latest version 3.6.0. Thanks.

[2022-07-31 08:15] MinseokKang003 commented on #9010
That's weird. As soon as I upgrade firebase dependencies, phone authentication stops working again.
What is your AppDelegate.swift?

[2022-07-31 09:32] Justus-M commented on #9010
Thanks for your quick response.

When I tried your recommended packages i changed by AppDelegate.swift back to this:
[code]

[2022-07-31 12:05] diver2 commented on #9265
I'm experiencing almost similar things, running code on web.
What is really weird is that I can update my DB with arrayunion on mobile AND while testing in localhost.

The error just happens with the app deployed to the web. (firebase hosting)
I'm trying now to check if this happens with any particular version of cloud_firestore / firebase_core

[code]

[code]

[2022-07-31 14:09] FarhanAli-98 commented on #9270
I have also found this issue since two days ago .
When you try to run app on iOS simulator then issue is create.

[2022-08-01 01:03] #9079 closed

[2022-08-01 01:04] #8074 closed

[2022-08-01 01:26] edsonISA opened #9275 "I can't filter data with collectionGroup"
https://user-images.githubusercontent.com/85927029/182054716-d08cd6d2-b461-4eb1-bb45-f1c0992b900f.mp4

![IMG_20220731_113636](https://user-images.githubusercontent.com/85927029/182055228-0b4e6df2-b798-4673-a520-e689baf8faba.png)

When i filter data with collectionGroup, it shows only for a moment, then it shows me as if it is loading the data but never finish.
When I use collection and filter the

[2022-08-01 01:38] graemep-nz opened #9276 "🐛 [FLUTTERFIRE_UI] sidebar width calculation problem"
## Bug report
In responsive_page.dart there is the following code

[code]

There are several problems here.  The value you need to pass in for "breakpoint" is not documented anywhere (ideally put comments in the code for all the constructor parameters everywhere) but if you want to show a header and don't pass in a value for breakpoint, the header may or not appear (in my case it didn't appear).

[2022-08-01 05:14] nilsreichardt commented on #9168
https://github.com/firebase/flutterfire/blob/c2771a425bd7260b11970e9e9e77ef40a39f9f16/tests/android/gradle/wrapper/gradle-wrapper.properties#L6

It's version `7.0.2`

[2022-08-01 06:19] darshankawar commented on #9261
Thanks for the report. Treating this as an enhancement.

[2022-08-01 06:35] darshankawar commented on #9266
@rlee1990
Can you upgrade to latest stable (3.0.5) along with plugin's latest version and try again ?

[2022-08-01 06:46] tudor07 commented on #9110
@russellwheatley so you are saying that you can't reproduce this issue?

[2022-08-01 06:55] darshankawar commented on #9267
@OutdatedGuy
Looking at the log, you probably need to double check if you properly included your domain in your Firebase project settings. Go to Firebase > Authentication > Sign-in Method > Add Domain.. and include your domain

Also, check [this](https://github.com/firebase/firebase-js-sdk/issues/998#issuecomment-404334296) solution and see if it works for you.
Closing, as this isn't a Flutterfire

[2022-08-01 06:55] #9267 closed

[2022-08-01 07:10] nitroplr opened #9278 "🐛 [Cloud FireStore] FieldValue.arrayUnion Does Not Work On Deployed Web App"
## Bug report

**Describe the bug**
FieldValue.arrayUnion works perfectly fine when using my Android emulator and Chrome emulator in my flutter app.  However, once the app is deployed to Firebase hosting, every single FieldValue.arrayUnion update in my app fails whether it is in a transaction or not.  Some of this code has been working for over a year.

### Steps to reproduce

Steps to reproduce t

[2022-08-01 07:14] darshankawar commented on #9269
@Ahmadre
There's similar issue open describing same case: https://github.com/firebase/flutterfire/issues/9256. According to [this](https://github.com/firebase/flutterfire/issues/9256#issuecomment-1198876909) comment from Flutterfire team member, it works using latest version on web. Can you try the same and confirm ?

Also, I suggest you to try the `firebase_core` or `firebase_auth` plugin example

[2022-08-01 07:14] #9269 closed

[2022-08-01 07:30] darshankawar commented on #9270
@arnoorani
I tried the `firebase_storage` plugin example using latest master and ran on iOS simulator which compiled and built without any issues:

![Screenshot 2022-08-01 at 12 55 14 PM](https://user-images.githubusercontent.com/67046386/182095951-7b0dd134-b9a1-4872-a1ee-843cbcd9629a.png)

![Screenshot 2022-08-01 at 12 55 30 PM](https://user-images.githubusercontent.com/67046386/182095987-bf19d4b

[2022-08-01 07:52] darshankawar commented on #9272
@Dinesh-DK
Have you created SHA1 key with debug key info and adding the same to Firebase project ?
Also, try to activate  `Android device verification` from the console and make sure the SHA1 key is provided there.

The error you are getting seems to be occuring due to missing configuration rather than a bug in `firebase_auth`.
Also, check [this](https://stackoverflow.com/questions/64952016/fireba

[2022-08-01 07:52] #9272 closed

[2022-08-01 08:06] darshankawar commented on #9275
@edsonISA
When you open an issue, please use [new issue template](https://github.com/firebase/flutterfire/issues/new/choose) and fill out requested details so that we'll have enough info to work with.
Also, the video you shared isn't playing, and please avoid posting screenshots.
Closing for now, as this issue isn't actionable due to lack of details.

[2022-08-01 08:06] #9275 closed

[2022-08-01 08:50] OutdatedGuy commented on #9267
The location seems to be changed now, it's in Firebase > Authentication > Settings > Authorized domains > Add domain

And I have already added my domain properly here.

[2022-08-01 08:54] OutdatedGuy commented on #9267
Yep, it worked. Thank you so much.

[2022-08-01 09:48] darshankawar commented on #9276
/cc @lesnitsky

[2022-08-01 10:29] hatemragab commented on #6290
any updates about it?

[2022-08-01 10:44] darshankawar commented on #9265
Thanks for the report. I am seeing same behavior and error while running below sample code on web in release mode:

<details>
<summary> code sample </summary>

[code]

</details>

![Screenshot 2022-08-01 at 4 08 53 PM](https://user-images.githubusercontent.com/67046386/182131536-78bb581a-8ab8-40c1-aab3-a92b9efd882e.png)

This is using previous and latest version of js, ie, 8.6.1 and 9.0.0.

/cc @r

[2022-08-01 10:54] lalitf commented on #9148
haven't seen any response there its been 3 days, do we have another solution?

[2022-08-01 11:09] darshankawar commented on #9278
@nitroplr Can you try to put this code block in `try catch` and run in `--release` mode and see if you get any error ? Something like below:

[code]

[2022-08-01 11:19] darshankawar commented on #9126
We don't need to explicitly update or do anything. Usually the core firebase plugin, ie, `firebase_core` is updated with latest BoM release, which is needed along with other firebase plugins for our firebase integration project to work correctly with Flutter.

I see that `firebase_core` is already updated to latest BoM version:

https://github.com/firebase/flutterfire/blob/master/packages/firebase

[2022-08-01 11:22] darshankawar commented on #9231
You may directly try to use latest `collection` package version and see if it helps, and keep `firebase_auth` version to `3.5.0`

[2022-08-01 12:30] slice-mohit opened #9279 "[FIREBASE_MESSAGING] Permission dialog does not show during the first boot"
## Bug report

On running the application for first time, the notification permission dialog is not shown and permission status is itself granted to be denied. On killing the app and then starting it, the notification dialog is shown.

Tested on Android Emulator API 33

### Expected behavior

Expected to be shown the dialog on first boot.

### Sample project

[code]
initialized in initstate of mat

[2022-08-01 12:31] edsonISA opened #9280 "🐛 [cloud_firestore] Can't filter data with collectionGroup"
## Bug report

**Describe the bug**
When I use:

collectionGroup('example').where('name', isEqualTo: 'name-to-search')

 to be able to filter sub-collections, the data is found but after a few seconds it is lost and starts loading indefinitely

### Steps to reproduce

[code]

## Additional context

This only happens with collectionGroup, because when I use collection to filter only a single collec

[2022-08-01 12:46] russellwheatley commented on #9110
I have updated the dynamic link example app. I think you should be able to run it on a device and check. Check out this branch locally: https://github.com/firebase/flutterfire/pull/9250

Here is the dynamic link: https://reactnativefirebase.page.link/bFkn

If you run:
1. melos boostrap in root of project.
2. run the dynamic link example app in release mode: `flutter run --no-pub --release` on an i

[2022-08-01 12:57] darshankawar commented on #9279
@slice-mohit
Can you provide code for `requestPermission()` ? Does the same behavior occur on a real device too ?

Also, can you try the plugin [example](https://github.com/firebase/flutterfire/tree/master/packages/firebase_messaging/firebase_messaging/example) on same emulator and on real device and see if you get same behavior or not ?

[2022-08-01 13:02] slice-mohit commented on #9279
@darshankawar Here is requestPermission. It just calls requestPermission of package and logs the status.
[code]

Haven't tested on real device. Will let you know after running the example code.

[2022-08-01 13:10] darshankawar commented on #9279
What does this print when the permission dialog doesn't show up at first ? as compared to when it does ?

Also, can you uninstall app, compile and run again and observe what does the `authorizationStatus` returns ?

[2022-08-01 13:16] rlee1990 commented on #9266
@darshankawar the reason I haven't used 3.5 was that a fix for the native view on android hasn't been deployed. I will save a version of the project to GitHub then upgrade to see if that does indeed fix the issue.

[2022-08-01 13:19] slice-mohit commented on #9279
It prints
[code]

In this case also, it prints the same message.

However if I kill the app, rerun it and allow notifications. Then in subsequent builds, it prints status as authorized.

[2022-08-01 13:51] slice-mohit commented on #9279
@darshankawar similar behaviour on example app as well. Although I had to add android:exported to true, add my services.json file and change package name to my app name for it work. Hope it was intended to run it this way.

[2022-08-01 14:26] rlee1990 commented on #9266
@darshankawar I still get the same error.
[code]

[2022-08-01 14:30] lokenjon commented on #6551
I am going around in circles. I've got 15 tabs open about AppCheck.
I cannot test App Check in emulator (android). Some docs state that I need to provide a token for App Check / functions dev work.
I am expecting to see something like this in logs:
DebugAppCheckProvider: Enter this debug secret into the allow list in the Firebase Console for your project: 123a4567-b89c-12d3-e456-7545445678

In a F

[2022-08-01 14:48] #9265 closed

[2022-08-01 14:53] nitroplr commented on #9278
![image](https://user-images.githubusercontent.com/48568777/182176909-6e8f19a9-1fd7-46dd-8ac1-0a45505ca434.png)

This error gets thrown in release mode and not in debug mode running the same code.

[2022-08-01 15:10] nitroplr commented on #9278
Here is a little bit more info by showing a snackbar in my onError for this transaction.

![image](https://user-images.githubusercontent.com/48568777/182181158-77cadb5a-5651-4e74-9c4e-4311d462a3ea.png)

[2022-08-01 15:40] rlee1990 commented on #9266
@rlee1990 so I enabled device check in the firebase console and I don't get the error. It's odd I thought we only needed to enable App Attest and that would work. If that is not the case then the firebase docs need to be updated to say that both are required.

[2022-08-01 16:39] jurgenramirez commented on #8073
Development/flutter/.pub-cache/hosted/pub.dartlang.org/firebase_messaging-11.4.4/android/src/main/java/io/flutter/plugins/firebase/messaging/JobIntentService.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: Some input files use unchecked o

[2022-08-01 17:27] IvanKastorsky commented on #9265
Nice, problem solved!!

package updated ``cloud_firestore: 3.4.3``

Thank you for the support!

[2022-08-01 19:09] jt274 opened #9283 "🐛 cloud_functions Incorrect error for missing function: Response is not valid JSON object"
## Bug report

When calling a function that cannot be found, the following error message is given:

`[firebase_functions/internal] Response is not valid JSON object.`

This function was previously working, but is now receiving this error after upgrading to cloud functions 2nd gen. If the function name is replaced with any random string (a certainly non-existent function), the same error is receive

[2022-08-01 19:31] arnoorani commented on #9270
@darshankawar were able to build an archive?

[2022-08-01 21:20] edimarvirtual commented on #9015
I tested several of the alternatives suggested in this topic, but without success, I believe it would be interesting for everyone who reads the topics and has the problem, mention it in the topic to show the relevance of the problem, because I think they are already taking too long to show an official solution, or make an update available that fixes the problem.

in addition to the problem of havi

[2022-08-01 21:26] edimarvirtual commented on #9015
I recognize the greatness of firebase and how much it helps us in our projects, but using it in flutter I'm finding some details and some problems that can discourage the use by beginners in the framework.

[2022-08-01 21:45] BellatrixTechnology commented on #9015
I fixed this issue, by just changing the  s.ios.deployment_target = '10.0' to s.ios.deployment_target= '11.0' in cloud_firestore.podspec.
 you can find this file in Pods > Development Pods > cloud_firestore > Pod
<img width="394" alt="Screenshot 2022-08-02 at 2 45 05 AM" src="https://user-images.githubusercontent.com/70720603/182251632-b5262d3a-8441-43f4-a04b-eb41c05854bc.png">
.

pod 'FirebaseFir

[2022-08-02 02:24] walsha2 commented on #9015
# Solution

For anyone still struggling with this, this is my working configuration (finally).

Note the need for setting `IPHONEOS_DEPLOYMENT_TARGET` in the pods target loop and `platform :ios, '11.0'`

[code]

[2022-08-02 03:00] baunov commented on #9201
We're having the same issue with firebase phone auth. Test phone numbers work properly. But every non-test phone number gets 400 error - Recaptcha verification failed - MALFORMED. Following exact steps that documentation suggests.

[2022-08-02 03:17] shadowboxingskills commented on #9106
It has been fixed in the latest release earlier today.
Thank you

[2022-08-02 04:56] ammaratef45 commented on #9221
why this is marked as blocked on customer response?

[2022-08-02 06:20] darshankawar commented on #9278
Thanks. That's what I wanted to confirm if you are getting that error or not. So, you are hitting https://github.com/firebase/flutterfire/issues/9265 which has been fixed as of yesterday. So upgrade plugin to latest version to see it working properly now.

Closing, as duplicate and already fixed.

[2022-08-02 06:20] #9278 closed

[2022-08-02 06:36] darshankawar commented on #9266
Good to know your issue is resolved. I think the current document mentions how to enable device check on Apple, as below:

`SafetyNet on Android, Device Check on Apple platforms, and reCAPTCHA v3 on web. `

You may open a new documentation bug for this and we'll address it.

Closing this issue, as it has been resolved per your comment.

[2022-08-02 06:36] #9266 closed

[2022-08-02 07:04] tudor07 commented on #9110
I'll check but @darshankawar said he is also able to reproduce my issue, it would be great if he can also try the above example. It would be helpful to try on as many devices as we can.

[2022-08-02 07:10] darshankawar commented on #9270
@arnoorani
Yes. See below:

[code]

[2022-08-02 07:17] SKnoedler commented on #9255
I am having the same problem

I am having the same problem and I added the proper config as shown by Lyokone. The issue does not  appear if I run "flutter run --verbose" or if build the entire web application first. If I run "flutter run" oder "Run Without Debugging" or "Start Debugging" it fails initializing firebase. I am very confused. What does the verbose mode change?

[2022-08-02 07:24] darshankawar commented on #9279
Thanks for the update. I now noticed that the Android version you are using is 13, so you are most probably hitting https://github.com/firebase/flutterfire/issues/8720. You may try on lesser Android version and see if you still get same behavior or not. If not, then you will need to follow-up in the linked issue.

[2022-08-02 07:27] darshankawar commented on #9110
I'll re-verify and confirm.

[2022-08-02 07:40] nitroplr commented on #9278
Thank you very much!

[2022-08-02 08:15] darshankawar commented on #9280
Thanks for the detailed report.

Have you confirmed that you have set the index properly of your Firestore database for the said `collectionGroup` ? You can read about it here:

https://firebase.google.com/docs/firestore/query-data/index-overview?authuser=0#automatic_indexing

[2022-08-02 08:54] wederchr commented on #7546
@darshankawar A response would be much appreciated. I have not heard back from you since you closed my original issue.

[2022-08-02 09:24] adgeg opened #9286 "🐛 [firebase_app_installations] Adding library in pubspec.yaml causes an Unhandled Exception when Firebase.initializeApp() is called"
## Bug report

Using together previous versions of `firebase_core` with `firebase_app_installations` cause an Exception when calling `Firebase.initializeApp()`. Even when I dont use any method of `firebase_app_installations`.

It is fixed when I upgrade version of `firebase_core` to `1.20.0` and `firebase_app_installations` to `0.1.1+3`, but it forces to update iOS minimum version. And I don't wan

[2022-08-02 10:00] darshankawar commented on #9283
Thanks for the report @jt274
Please take a look at [this](https://firebase.google.com/docs/functions/beta) document and see if, since the v2 version of the plugin is in beta public preview, you might be seeing this error.

Can you provide how to do this ?

Also, looking at context of the issue, this might belong to native SDK and not at client side, as FlutterFire plugins are wrappers around nativ

[2022-08-02 10:21] darshankawar commented on #7546
@wederchr Sorry for not coming back to this earlier. Please take a look at below links and see if they help:

https://github.com/firebase/flutterfire/issues/8926
https://github.com/firebase/flutterfire/issues/8926#issuecomment-1196653932
https://github.com/firebase/flutterfire/issues/9110#issuecomment-1198263612
https://github.com/firebase/flutterfire/issues/9110#issuecomment-1201156205

[2022-08-02 10:21] darshankawar commented on #7546
/cc @russellwheatley

[2022-08-02 10:26] wederchr commented on #7546
Thank you for your response, I'll take a look! Did you also have time to clarify my question regarding firebase dynamic link testing using TestFlight?

[2022-08-02 10:36] snghnishant commented on #7546
The flutter firebase dynamic links plugin seems to work now without any other package. There was an issue with some native code being override for supporting an attribution SDK in my case. Removing that helped making firebase dynamic link plugin work on both iOS and android in all 3 app state.

[2022-08-02 10:36] darshankawar commented on #9110
@tudor07
Based on @russellwheatley's comment earlier, I verified by running `firebase_dynamic_links` plugin example in release mode on iOS device (iphone 6s, OS 15.3.1) and was able to see expected behavior. See below:

https://user-images.githubusercontent.com/67046386/182354969-a81864af-9222-45da-a35d-983b106fe49d.MP4

I am on latest master version.

[2022-08-02 11:12] darshankawar commented on #9286
Thanks for the report @adgeg
I am unable to replicate the error after adding said plugin versions.

This seems to be correct way of going ahead as one would like to be on latest versions of plugins as they fix underlying issues and also to get most up-to-date features offered by them.

I also suggest you to use dart only initialization that FlutterFire CLI offers, that now supports writing the Goo

[2022-08-02 12:47] Pelmeshka102 commented on #6290
This answer helps me. Just use getInitialMessage

[2022-08-02 13:11] adgeg commented on #9286
Thanks for your quick answer @darshankawar :)

According to the Dart only initialization, it requires some effort to do it locally (as we have many flavors) and in our CI. So I'll postpone it to later. As everything works as expected with `flutterfire_installations` library, I won't try to use `firebase_app_installations` anymore. Even if its not clear for me why there are 2 libs provided by  `htt

[2022-08-02 13:11] #9286 closed

[2022-08-02 13:20] darshankawar commented on #9286
`flutterfire_installations` is actually not developed or maintained by FlutterFire team. The original plugin is https://pub.dev/packages/firebase_app_installations.  Not sure about the latter though :)

[2022-08-02 13:20] russellwheatley commented on #8969
Hey @nilsreichardt, I've just spent a while figuring out how to get this working again. I've updated the example app so it works but not sure if this will run out the box for other users as I had to paste the debug token generated on app start into the Firebase console.

Here are the steps I took:

1. Add this [snippet of code](https://github.com/firebase/flutterfire/pull/9287/files#diff-3ed5782b3

[2022-08-02 13:29] adgeg commented on #9286
Hum… It's strange as it is mentioned [here](https://pub.dev/packages/flutterfire_installations) as published by verified Firebase Google team. I don't talk of this other [lib](https://pub.dev/packages/firebase_installations) which is clearly not official.

[2022-08-02 14:26] tudor07 commented on #9110
Yes, same with that one

[2022-08-02 14:30] russellwheatley commented on #9110
@tudor07 You're using this branch https://github.com/firebase/flutterfire/pull/9250?

[2022-08-02 14:32] russellwheatley commented on #9110
Could you also change the default browser as well to chrome and see if that makes a difference.

[2022-08-02 15:33] Rohithgilla12 commented on #9113
Hello @darshankawar can you please reopen it again
It happens for me, with the following combinations

[code]

All the packages are updated

Thanks!

[2022-08-02 15:36] Rohithgilla12 commented on #9113
Output of `flutter pub deps -- --style=compact`

[code]

[2022-08-02 15:54] russellwheatley commented on #6242
Hey @kalyani6474, I've just tested this on the firebase_dynamic_links example app and it works from background and terminated state. If you wish to test a working demonstration yourself, please follow the [instructions here](https://github.com/firebase/flutterfire/issues/9110#issuecomment-1201156205). Thanks.

[2022-08-02 15:54] #6242 closed

[2022-08-02 16:00] russellwheatley commented on #7546
Hey @badrobot15, do you still experience this issue?

[2022-08-02 16:32] Charlinjoeaht commented on #8778
I have Apps with Flavors. Each flavors has different firebase configuration. Current solution is not working for Apps with Flavors. This solution works only for the app with one android configuration and one ios configuration

[2022-08-02 16:35] Charlinjoeaht commented on #8098
I have Apps with Flavors. Each flavors has different firebase configuration. Current solution is not working for Apps with Flavors. This solution works only for the app with one android configuration and one ios configuration

[2022-08-02 19:05] bw-flagship commented on #9124
For me its not fixed, it just became another error. Not it says

`TypeError: Cannot read properties of undefined (reading 'auth')`

[2022-08-02 22:49] geronimol opened #9290 "🐛 [FIREBASE_CORE] Error building for macOS"
## Bug report

**Describe the bug**
My projects are working fine for iOS and Web, but throwing error for macOS.

[code]

### Steps to reproduce

Steps to reproduce the behavior:

1. Create a new flutter project (will run fine for macOS without firebase)
2. Add 'firebase_core' and the Firebase.initializeApp() configs.
3. Run 'flutterfire configure' and create a new firebase project.
4. Change versi

[2022-08-02 23:12] MarceloRab commented on #8501
Please. Open error persists.

[2022-08-02 23:28] geronimol commented on #9290
Also tried adding 'cloud_firestore' and 'flutterfire configure', and then running the project again. Same errors with a new one.

[code]

[2022-08-02 23:49] geronimol commented on #9290
Fixed replacing this last 4 lines of macos/Podfile

[code]
With this:

[code]
And run it again

[2022-08-02 23:49] #9290 closed

[2022-08-03 02:55] slice-mohit commented on #9279
@darshankawar Yes, on lower android versions, I am directly getting authorised status without any dialog which I believe is expected behaviour in older versions. Thanks for the link to relevant issue. Closing this one.

[2022-08-03 02:55] #9279 closed

[2022-08-03 05:23] almogtovim commented on #8614
I spent so much time on this. There was no way I would believe it was possible.

[2022-08-03 05:57] edsonISA commented on #9280
Yes, I can get the data, I can even filter it, but it only shows for a few seconds and then it is lost, showing me the CircularProgressIndicator forever.

In the terminal I get this:
W/Firestore(25174): (24.2.1) [WatchStream]: (89de441) Stream closed with status: Status{code=NOT_FOUND, description=Target id not found: 8, cause=null}

[2022-08-03 05:59] lukertaylor opened #9291 "Android Emulator cannot access Firebase with App Check in Enforcement mode"
### Discussed in https://github.com/firebase/flutterfire/discussions/9284

<div type='discussions-op-text'>

<sup>Originally posted by **lukertaylor** August  1, 2022</sup>
Hello,

I have set-up App Check and followed the instructions (https://firebase.google.com/docs/app-check/android/debug-provider#kotlin+ktx_1) to successfully generate debug secrets on a physical Android device and the Android

[2022-08-03 06:02] lukertaylor commented on #9291
I have found a workaround, which is to only load the App Check plug-in when building in release mode:

`
if (kReleaseMode) {
    await FirebaseAppCheck.instance.activate();
}
`

[2022-08-03 06:27] darshankawar commented on #9283
Thanks for the update. Can you provide the entire error log ?
Also, please check if [this](https://stackoverflow.com/questions/66830084/flutter-firebase-function-error-response-is-not-valid-json-object) helps in your case.

[2022-08-03 06:41] darshankawar commented on #9280
`NOT_FOUND` per `FirebaseFirestoreException` documentation is thrown when some requested document is not found:

https://firebase.google.com/docs/reference/android/com/google/firebase/firestore/FirebaseFirestoreException.Code#public-static-final-firebasefirestoreexception.code-not_found

Can you confirm that the document under `collectionGroup` exists and you are able to print those documents befo

[2022-08-03 07:12] tudor07 commented on #9110
I am using `@russell/dynamic-9110` branch:
[code]

I get the same behaviour with Chrome.

Btw, this behaviour is for links generated inside the app, if I use `reactnativefirebase.page.link/bFkn` specifically I get to`invertase.io/helloworld` which is a `404` page.

[2022-08-03 07:35] russellwheatley commented on #9110
If you get the link `invertase.io/helloworld` then it worked correctly. That is the deeplink:
<img width="730" alt="Screenshot 2022-08-03 at 08 31 15" src="https://user-images.githubusercontent.com/16018629/182550404-a62e5d4a-f7a2-4b17-9d19-a0e03214007c.png">

It is a 404 hence why we use just the path to push you to another screen to show you it works: https://github.com/firebase/flutterfire/blob

[2022-08-03 07:42] rivella50 commented on #9015
@walsha2 Deleting `IPHONEOS_DEPLOYMENT_TARGET` finally did the trick for me too.
Thanks a lot for posting your solution.

[2022-08-03 08:12] darshankawar commented on #9291
@lukertaylor
Currently it seems the app_check only works on real device and not on emulators. See [this](https://github.com/firebase/flutterfire/issues/9060#issuecomment-1185664921) issue comment and see if it helps in your case.

[2022-08-03 08:36] darshankawar commented on #9113
@Rohithgilla12
I suggest you to create new issue and provide all required details because root-cause could be different.

[2022-08-03 09:09] maciejbrzezinski commented on #9110
I'm working on two apps at the moment and I spotted the same problem in one of them :v

That's weird, because scenarios when app is installed from app store or link is clicked when the app is in background works fine. Problem happens only when the app is terminated.

I also compared the two apps configs few times and I couldn't spot anything suspicious.

I performed two tests with usage of app_lin

[2022-08-03 09:14] tudor07 commented on #9110
@russellwheatley shouldn't it open the app? My issue was about opening the app and getting clicked linked.

[2022-08-03 10:39] Ahmadre commented on #9256
I had the same errors. Please see: https://github.com/firebase/flutterfire/issues/9269

My solution was to completely delete that init for web in dart and do the init in index.html.

[2022-08-03 11:13] hanko0206 commented on #9015
These steps don't solve my problem, I am using Xcode Version 12.4 (12D4e).

![Screen Shot 2022-08-03 at 7 12 05 PM](https://user-images.githubusercontent.com/40648263/182594572-a4f2dfbb-9045-4cd8-8f54-da85abe76aae.png)

[2022-08-03 11:27] russellwheatley commented on #9110
@tudor07  Yes, it will open your app, and the deep link received is the one I mentioned.

[2022-08-03 11:52] Ehesp opened #9293 "[ODM] Support Transactions"
This issue is to track the addition of supporting Firestore Transactions via the ODM.

[2022-08-03 11:56] Ehesp opened #9294 "[ODM] Freezed Integration"
Currently creating Models via the ODM only supports json_serializable. Freezed supported will be added to allow developers to define models with Freezed (and json_serializable).

This issue will be updated with progress.

[2022-08-03 13:05] deepak786 commented on #9215
@russellwheatley any update on this?
should we keep using the v8 in the service worker?

[2022-08-03 14:06] russellwheatley commented on #6290
Just to be clear on this issue; I have tested background message handling on iOS multiple times, and it hasn't failed to work. I've [created a PR](https://github.com/firebase/flutterfire/pull/9292) for updating the messaging example app with a set of instructions for you to follow. I would be grateful if you are experiencing an issue, if you could test the example app by following the instructions

[2022-08-03 14:20] JoshRice1 commented on #9252
So any word on when 9.4.0 will be available?  If I remove the precompiled library stuff from my podfile and do a build will it pull master for the SDK and build with the fix in it?

Sorry but this is affecting quite a few of our users so we want to try to resolve it ASAP.

[2022-08-03 15:04] lukertaylor commented on #9291
@darshankawar I found a different, and much simpler, workaround that I thought others might find helpful.

[2022-08-03 15:14] russellwheatley commented on #8857
Hey folks, I've just tested this against the example app and `onMessageOpenedApp ` is triggered. [There is a PR](https://github.com/firebase/flutterfire/pull/9292) that will close this issue out that has a set of instructions for testing messages. You're free to use that branch locally or wait until it is merged with master branch to verify it works.

[2022-08-03 15:28] russellwheatley commented on #8979
Hey folks, I've just tested this against the example app and `getInitialMessage ` was `null` every time I called it except when a notification was tapped, loading the app from a terminated state (i.e. working as intended). [There is a PR](https://github.com/firebase/flutterfire/pull/9292) that will close this issue. It has a set of instructions for testing messages. You're free to use that branch

[2022-08-03 16:01] Wasmund1 opened #9296 "🐛 [FlutterFire_cli] configure -h produces Unhandled Exception"
## Bug report
When we call `flutterfire configure -h` we get the following output:
[code]

### Steps to reproduce

Steps to reproduce the behavior:

1. Install Firebase tools with `curl -sL https://firebase.tools/ | bash`
2. Update Firebase tools with `curl -sL https://firebase.tools/ | upgrade=true bash`
3. Activate FlutterFire cli with `dart pub global activate flutterfire_cli`
4. run `flutterfi

[2022-08-03 16:10] stx opened #9297 "🐛 [firebase_core] NoSuchMethodError: method not found exceptions on web"
## Bug report

Since upgrading to the last Flutterfire releases, we're seeing this error randomly on production:

[code]

which appears to point to this code in the FirebaseApp class (presumably `other` is null when this exception occurs?)

[code]

We have no idea where this is coming from, why or how to reproduce it.

### Flutter doctor

Run `flutter doctor` and paste the output below:

<details>

[2022-08-03 16:43] jt274 commented on #9283
@darshankawar I'd already come across that post, and specifying the region does not make a difference. The function is already in the `us-central1` region. The only error provided is the error I included above. But it is clear to me the function is not being called.

According to this reference: https://firebase.google.com/docs/functions/beta/callable

You must use the full URL to call the functio

[2022-08-03 23:00] akospwc commented on #9252
Adding `$FirebaseSDKVersion = '9.4.0'` to the top of my Podfile did the trick for me. Waiting for the results from users/crashlytics now.

[2022-08-04 01:03] #9077 closed

[2022-08-04 02:19] KKimj commented on #9015
It works!!!
But Required additional Setting with Xcode.
<img width="879" alt="Screen Shot 2022-08-04 at 10 58 38 AM" src="https://user-images.githubusercontent.com/40026920/182748066-a8822719-3aee-4de1-a029-081fb813ef84.png">

We should check diff with `project.pbxproj` about `IPHONEOS_DEPLOYMENT_TARGET`
![image](https://user-images.githubusercontent.com/40026920/182748214-0c7ff3e0-68fb-4f74-bbab-

[2022-08-04 03:41] windows7lake commented on #9244
[code]
After upgrade all plugin, I also get same crash.

[2022-08-04 06:34] tudor07 commented on #9110
@russellwheatley that's not what it happens with the `example` app, so how can I reproduce my issue using it?
In my app, I want my app to open.
In the `example` app, a webpage is opened even though the app is installed.

[2022-08-04 07:27] ronnicknachok commented on #9064
This is quite a big annoying bug preventing apps from passing reviews in the AppStore. Any chance we can get the progress of this? @darshankawar @lesnitsky or how can I be of help to help sort out this bug as it affects all the federated social logins including Apple Sign In etc.

[2022-08-04 08:47] hassanyousufx commented on #9216
Where did you add this line?

[2022-08-04 08:47] russellwheatley commented on #9110
are you running in `flutter run --no-pub --release` mode? Have you followed every one of [these steps](https://github.com/firebase/flutterfire/issues/9110#issuecomment-1201156205) exactly?

[2022-08-04 08:59] russellwheatley commented on #9216
Thanks for confirming @ComplexCarbos, 👍.  Hey @imeDevelopers, have you tried the latest `firebase_auth`? (version `3.6.2`).

[2022-08-04 09:59] russellwheatley commented on #6011
I've tested this on android & iOS using `firebase_messaging` example app, I received foreground notifications even when I commented out [getToken()](https://github.com/firebase/flutterfire/blob/master/packages/firebase_messaging/firebase_messaging/example/lib/token_monitor.dart#L33-L37). Closing as the issue is resolved 🙏

[2022-08-04 09:59] #6011 closed

[2022-08-04 13:27] russellwheatley commented on #3356
Hey folks, I've tested this on the web platform, and it no longer passes a `null` value on page refresh or hot restart if the user has already signed in for `authStateChanges()` 🙏

[2022-08-04 13:27] #3356 closed

[2022-08-04 15:47] tommienu commented on #8811
Can you elaborate a bit on this please?

[2022-08-04 15:48] ollydixon commented on #8811
@Aksi0 yes Aksi0, because we are signing a release version via the store. So I don't think this is a fix.

[2022-08-04 19:27] mvpires opened #9298 "[firebase_database] [iOS] CocoaPods could not find compatible versions for pod "Firebase/Database":"
I'm having this problema for some time now. I can't run pod install.
     This error always pop up:

 [!] CocoaPods could not find compatible versions for pod "Firebase/Database":

  In Podfile:
    firebase_database (from `.symlinks/plugins/firebase_database/ios`) was resolved to 9.1.0, which depends on
      Firebase/Database (= 9.3.0)

    flutter_geofire (from `.symlinks/plugins/flutter_geofir

[2022-08-04 19:30] rohansohonee opened #9299 "🐛 [firebase_database] Issue with onValue listeners on web"
## Bug report

**Describe the bug**
Consider two active onValue listeners queryA and queryB.
Now a new onValue listener queryC is added.

With the following setup if an update operation of the following is performed:
[code]
queryC is fired which is correct.
queryB is also fired which is correct.

However queryA is being fired and the data is:
[code]

[code]

DATA STRUCTURE IN FIREBASE REALTIME DAT

[2022-08-04 19:36] rohansohonee commented on #9299
Also including here an existing issue from the firebase js sdk github repo
https://github.com/firebase/firebase-js-sdk/issues/861

It may describe this behavior which was faced:
[code]

[2022-08-04 19:38] iosephmagno opened #9300 "🐛 [firebase_messaging] Silent Notifications not working on iOS if app is terminated"
Hello,
We already discussed silent notifications on ios in foreground and background mode and I shared our working solution in #8277.

Now above thread is closed, so I’m forced to  open this other one.

Situation is:

Android: silent notifications work in all scenarios: app in foreground, background and killed.

ios: silent notifications work in foreground and background mode, **but dont work when

[2022-08-04 19:41] iosephmagno commented on #9300
Hi @russellwheatley maybe you have more of a clue than me on that?

[2022-08-04 20:16] iosephmagno commented on #9300
I can add more details. After upgrading to 12.0.1 from 11.4.1, silent notifications on iOS work also when app is killed.
Unfortunately, notifications stop working as soon as we open a different app.
If we then we open our app back and kill it, notifications start working, and they stop working as soon as a different app is opened.

Setup is:
iphone 13
iOS 15.5
Flutter 3.0.3

[2022-08-04 22:21] arnoorani commented on #9270
looks like the issue is resolved Thanks @darshankawar

[2022-08-04 22:21] #9270 closed

[2022-08-04 22:32] xeladu commented on #6957
I was able to "fix" the described problem "error getting app check token" by adding the SafetyNet attestation provider. At first, I only had Play Integrity activated but according to this bug, it doesn't seem to be initialized in code.

Now I can use Firestore and Storage with enforced App Check from a Flutter application running on my real device. The dashboard also shows verified requests.

[2022-08-05 01:03] #9112 closed

[2022-08-05 02:51] VagnerWillian commented on #6196
So, in the emulator the problem persists, however, in the physical device it works normally.

[2022-08-05 08:34] CodoPixel commented on #6957
Could you show some code?

[2022-08-05 08:37] subhash279 commented on #9252
I am having the same issue. May I pls know when 9.4.0 will be available?

[2022-08-05 08:45] xeladu commented on #6957
You do all the attestation provider stuff in Firebase, there are no code changes involved. Just copy your Play Integrity fingerprint to SafetyNet and save. That's all I did and then, it worked.

[2022-08-05 09:23] kinex opened #9302 "🐛 [firebase_functions] HandshakeException: Handshake error in client (OS Error: CERTIFICATE_VERIFY_FAILED: unable to get local issuer certificate(handshake.cc:359))"
One of my users gets this exception:

[code]

There is another exception from the same user which is probably the root cause:

[code]

Maybe related to https://github.com/dart-lang/http/issues/627, but this is not an old device or old OS version.

## Additional context

### Device

Galaxy S21 5G / Android 12 (en-AU)

### Flutter doctor
[code]
---

### Flutter dependencies

cloud_functions: ^3.3.3

[2022-08-05 12:30] lvlrSajjad commented on #9283
I'm using my v2 functions in the same package as my v1 functions and still I get this error on flutter.
[code]

I'm using:
[code]

The code works with the same function which is written in v1.

This is how I'm calling the function:

[code]

[2022-08-05 13:31] kinex commented on #9302
The issue was caused by VPN (a company managed phone).

[2022-08-05 13:31] #9302 closed

[2022-08-05 14:59] kmvignesh commented on #6290
Me also faced the same issue. To fix this did the following changes.
**Step 1**
In info.plist file we have added following configuration
[code]
**Step 2**
Extra keys in the payload also causing issue. so removed unnecessary keys from payload. eg: `apns-push-type`,`apns-topic`

[code]

[2022-08-05 17:14] jt274 commented on #9283
It appears it currently does not support v2 functions. You must call the function with the full URL using a regular HTTP request (using dart `http` package), and include the Authorization header if using firebase auth. I have done this successfully.

I've also separately discovered v2 functions cannot connect to a Cloud SQL instance. It seems that the current v2 beta preview is not very useful yet

[2022-08-05 23:19] graemep-nz opened #9304 "🐛 [FLUTTERFIRE_UI] RichText in login_view.dart doesn't obey theming"
## Bug report
In login_view.dart _buildHeader function there is a RichText.  It doesn't obey theming well enough to allow the font of the "Register" text button to match the font of the "Forgot password" text button.  RichText needs to be replaced with Text.rich  - then it works as expected and you can control the font in the top level theme like this
`textTheme: TextTheme(button:TextStyle(fontSiz

[2022-08-06 03:12] pepomps opened #9305 "🐛 [firebase_auth] Getting error when calling getRedirectResult on Web"
## Bug report

After using FirebaseAuth.instance.signInWithRedirect(googleProvider) in flutter web, when the signIn flow concludes, i was redirected to my app, when i try calling FirebaseAuth.instance.getRedirectResult(); I am getting the following error:

Error: Expected a value of type 'FutureOr', but got
one of type 'Null'
at Object.throw_ [as throw]
(http://localhost:38321/dart_sdk.js:5080:11)

[2022-08-06 07:08] jefrrey017 opened #9307 "How to decode string with emojis from Firestore?"
![image](https://user-images.githubusercontent.com/93859692/183238381-a054dd0f-25aa-4f9e-bce7-c0e799a218c0.png)

I have this string with emojis stored in the Firestore. When I query them on my app and try to render it on a `Text` widget, it throws
`Invalid argument(s) : string is not well-formed UTF-16`.

Rather than showing the emojis, the `Text` widget renders this

![image](https://user-images.

[2022-08-06 11:04] krishna700 commented on #9110
I am also facing this issue.
The dynamic link opens the app correctly, but doesn't navigate when app is in terminated state. So initial link is definitely null.

This is a very crucial feature. Please help.

[✓] Android toolchain - develop for Android devices (Android SDK version 32.1.0-rc1)
[✓] Xcode - develop for iOS and macOS (Xcode 13.4.1)
[✓] Chrome - develop for the web
[✓] Android Studio (v

[2022-08-06 14:29] akospwc commented on #9252
After adding `$FirebaseSDKVersion = '9.4.0'` to the top of my Podfile, the crash does not occur anymore.

[2022-08-06 14:43] imeDevelopers commented on #9216
@sleewok
@hassanyousufx
@2nex
@ComplexCarbos
@russellwheatley
@darshankawar
@nero-angela
@HoaLebao

hello guys,

when I made changes it was within the plugin files itself and it was an old version of the plugin (I was have issues with compatibility, and wasn't able to upgrade) ..

here's my summery after deep search:

This command will solve most of your packages compatibility problems:
`flutter u

[2022-08-06 15:01] tommienu commented on #8811
Problem reproduced when using crashalytics (so it's not only plugin:analytics), the error is probably in plugin:core.

* Throw Exception() in initState()
* Keychain access is triggered with crashalytics is sending the error to the FB backends.

[2022-08-06 15:02] ollydixon commented on #8811
@tommienu we're not using ```crashalytics``` fyi, just Firebase messaging.

[2022-08-06 15:03] tommienu commented on #8811
Even more indication that the error is somewhere plugin:core then.

[2022-08-06 15:05] ollydixon commented on #8811
@tommienu indeed, this library, not good that they are forcing us to use this library to do Push Notifications on Android (because we had the nice and simple GCM). Otherwise I'd never put Firebase into any of our projects. Ah well.

[2022-08-06 16:22] imeDevelopers commented on #9307
`String.fromCharCodes('My emoji'.codeUnits);`

[2022-08-06 16:32] imeDevelopers commented on #9297
did u get this error in Debug mode ?
did u noticed `minified:` at the beginning of the error ?

please set:
buildTypes {
release {
minifyEnabled false
shrinkResources false
}
}

and try again ..

[2022-08-06 16:42] imeDevelopers commented on #9283
as I see the problem with `[cloud_functions](https://pub.dev/packages/cloud_functions)` not `[cloud_firestore](https://pub.dev/packages/cloud_firestore)` ..

I simply don't use `cloud_functions`, I use simple `[http](https://pub.dev/packages/http)` requests instead, and trigger the function by calling it's triggerable URL..

by making POST request and provide whatever parameters I want ..

it's su

[2022-08-06 18:48] zubbey opened #9309 "pod issue"

[2022-08-06 19:03] iosephmagno commented on #9300
Hello @darshankawar, any idea about this?

[2022-08-07 00:10] GroovinChip opened #9310 "🐛 [firebase_core] Firebase cannot establish a connection when working with **multi-window** on macOS"
When working with Firebase, Flutter desktop ( macOS specifically), and the [desktop_multi_window](https://pub.dev/packages/desktop_multi_window) plugin, Firebase will throw a `PlatformException` with the following logs when creating and showing a new window:
[code]

I suspect that this problem has something to do with the nature of multi-window at this time, which works by creating a whole new ins

[2022-08-07 00:13] GroovinChip commented on #9310
@wolfenrain, any thoughts on this issue?

(Wolf has worked on his own version of multi-window and may be able to provide some insight here)

Also CC'ing @pr-Mais, @nilsreichardt, and @Lyokone

[2022-08-07 14:09] imeDevelopers commented on #9280
@edsonISA

hello,

I suggest:

changing:
[code]

to:

[code]

removing the condition:
`if (snapshot.hasData) {`

and merge it with:
`if (!snapshot.hasData || snapshot.data!.docs.isEmpty) {`

hope it helps,

Thanks.

[2022-08-07 14:14] imeDevelopers commented on #9280
this is best version in my opinion:

[code]

[2022-08-07 14:33] DennisKragekjaer commented on #9300
Its simply not ok

[2022-08-07 16:47] mockturtl commented on #6196
My project uses "staging" and "prod" flavors, with separate Firebase projects.  I'm testing in Android, emulator and physical device.

I added Remote Config for staging and prod.  It works well on staging.

In the prod build (no code changes), `fetchAndActivate()` produces

[code]

I feel like the difference could be in GCP service account permissions, but I don't know what to compare.

###### `pu

[2022-08-07 16:55] #9309 closed

[2022-08-07 17:51] spiderion opened #9311 "🐛 [firebase_core_platform_interface] Android App doesn't start in release mode"
The android app launches fine in debug mode but doesn't launch in release mode

The app crashes at the start when calling Firebase.initializeApp()
with this error:

E/flutter (10005): [ERROR:flutter/lib/ui/ui_dart_state.cc(198)] Unhandled Exception: PlatformException(null-error, Host platform returned null value for non-null return value., null, null)
E/flutter (10005): #0      FirebaseCoreHostApi

[2022-08-07 18:10] mockturtl commented on #6196
**SOLVED**

re: https://github.com/firebase/flutterfire/issues/6196#issuecomment-1207444803

Cold restart wasn't helping, so I added some logging in [FirebaseRemoteConfigPlugin.java](https://github.com/firebase/flutterfire/blob/master/packages/firebase_remote_config/firebase_remote_config/android/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfig/FirebaseRemoteConfigPlugin.java#L158).

[2022-08-07 23:23] DennisKragekjaer commented on #6290
+1

[2022-08-07 23:57] rulefahd commented on #6290
It doesnt work on termination mode all the time, it might work for 1-2 hours, then it will stop completely

[2022-08-08 00:11] waqadArshad commented on #6290
@rulefahd if you are talking about iOS, I agree that data-only messages would stop getting received. but for the android part, you have to follow a specific payload structure to be able to keep receiving the notifications in the terminated state even.

Here is an example that is working for me on android. I have tested it myself.

[code]

[2022-08-08 00:16] waqadArshad commented on #6290
@rulefahd as for iOS, there is no easy way of doing this. The bottom line is that you cannot achieve an always working terminated state notification using FCM. You would have to use a native Swift or Objective-C implementation to be able to do that. I implemented that using PushKit as I was doing this for call implementation. if you need anything else, please feel free to ask.

[2022-08-08 01:34] johnnyasantoss commented on #9015
Can we get a release with the fix like a `9.3.1`?

[2022-08-08 02:50] chejdj opened #9312 "🐛 [firebase_messaging] Crash"
## Bug report

**Describe the bug**
A crash bug from FirebaseCrash platform

### Steps to reproduce

No.

### Expected behavior

No
### Sample project

No

---

## Additional context

Add any other context about the problem here.
Crash log

[code]

---

### Flutter doctor

Run `flutter doctor` and paste the output below:

<details><summary>Click To Expand</summary>

[code]

</details>

---

### Fl

[2022-08-08 06:16] OutdatedGuy opened #9313 "🐛 [firebase_core] Homepage link broken"
## Bug report

**Describe the bug**
The homepage link in `pubspec.yaml` is not responding with a status of `200`.
Hence, the score on `pub.dev` is reduced to 120 points.

[2022-08-08 06:21] darshankawar commented on #9296
@Wasmund1
`flutterfire configure` related issue need to be reported in dedicated repo: https://github.com/invertase/flutterfire_cli/issues

Closing from here.

[2022-08-08 06:21] #9296 closed

[2022-08-08 06:42] darshankawar commented on #9297
Labeling this for further insights from the team, as, it seems to be coming from production and without any replicable steps or code.

[2022-08-08 06:52] darshankawar commented on #9298
@mvpires
You'll probably need to report this in `flutter_geofire` repo for further resolution. See a similar issue for your reference: https://github.com/mrdishant/flutter_geofire/issues/23

Closing from here.

[2022-08-08 06:52] #9298 closed

[2022-08-08 07:35] darshankawar commented on #9300
@iosephmagno
For silent notifications + terminated state combination, according to [this](https://firebase.flutter.dev/docs/messaging/usage/#message-types) documentation section, the `data` notification in this case will be handled in `onBackgroundMessage` state, and, the function should be outside the main method to parse it.
Also, see [this](https://stackoverflow.com/a/72614936) link for your re

[2022-08-08 08:00] darshankawar commented on #9305
@pepomps
Can you provide the complete error message and log along with a minimal code sample that shows this error ?
Also, is this in debug or in release mode ?

[2022-08-08 08:23] darshankawar commented on #9307
@jefrrey017
Your question is better suited for support channels like StackOverflow, so please ask the same there.
Closing from here, as this is not a bug report or a feature request.

[2022-08-08 08:23] #9307 closed

[2022-08-08 08:32] iosephmagno commented on #9300
Hello @darshankawar
Yea our code is fine, in fact notifications work in all states: foreground, background and terminate.
We noticed that in terminate mode, notifications stop being fired as soon as we open another app after we killed ours, see here https://github.com/firebase/flutterfire/issues/9300#issuecomment-1205724948

Basically, in video above we kill our app and start sending messages to d

[2022-08-08 09:08] ArkadiuszDatka commented on #9110
Similarly for me, but it works correctly on android and ios <= 15.5, but it does not work on ios 15.6. @krishna700 if you can verify that you can run on an older ios version.

[2022-08-08 09:30] russellwheatley commented on #9110
@ArkadiuszDatka - My device uses iOS 15.6. It works.

[2022-08-08 09:36] krishna700 commented on #9110
I checked in a device running 15.4.1, it doesn't work in terminated state.

[2022-08-08 09:50] darshankawar commented on #9310
Thanks for the detailed report @GroovinChip.
Can you try couple of below options and see if they help ?

1. Can you check if any of the community plugin you are using could be using an older version of firebase plugin ? Looking into `pubspec.lock` may give you an idea on this.

2. Try to register flutter engine, (something like mentioned [here](https://github.com/firebase/flutterfire/issues/9113#i

[2022-08-08 09:52] #9216 closed

[2022-08-08 09:59] darshankawar commented on #9311
@spiderion
Please check [this](https://stackoverflow.com/questions/72895721/firebasecloudmessaging-platformexception-platformexceptionnull-error-host-p) link and see if it helps.

[2022-08-08 11:55] mvpires commented on #9298
Thank you, @darshankawar. I'll do that!

[2022-08-08 12:19] NebulaFox commented on #9240
So looking between two app versions, the only thing that really changed – that could be causing this error – was the firebase. The reason I believed it was `flutterfire configure` was because the app seemed to work when using the old method, but it has been reported that that is crashing too.

Below I provided a snippet from the `pubspec.lock` file. These are really the only updates that would be

[2022-08-08 13:21] pepomps commented on #9305
Complete error:

Error: Expected a value of type 'FutureOr<UserCredentialJsImpl>', but got
one of type 'Null'
    at Object.throw_ [as throw]
    (http://localhost:38321/dart_sdk.js:5080:11)
    at Object.castError (http://localhost:38321/dart_sdk.js:5039:15)
    at Object.cast [as as] (http://localhost:38321/dart_sdk.js:5356:17)
    at FutureOr.as_FutureOr (http://localhost:38321/dart_sdk.js:4683

[2022-08-08 15:00] ArkadiuszDatka commented on #9110
@krishna700   you can check your link if it has the correct format (I missed the efr parameter set - https://firebase.google.com/docs/dynamic-links/create-manually#parameters) and check if the bundleID for release mode is actually the one that it is configured for dynamic link - it worked for me

[2022-08-08 17:02] iosephmagno commented on #7874
@russellwheatley there should be a way. We should include mutable-content in payload and fcm should code this workaround https://developer.apple.com/documentation/usernotifications/modifying_content_in_newly_delivered_notifications

Was thinking this might be related to our #9300. It seems silent notifications wont be triggered if

[2022-08-08 17:21] iosephmagno commented on #7874
To recap issue is:

**Silent notifications** lets developers manipulate the content before showing head ups. Unfortunately they are not reliable on iOS which deliver then with low priority
apns-priority:5
contentAvailable: true

The result is that they dont work well when app is terminated and they might not be triggered under many conditions even in foreground/background mode.

**Remote notificat

[2022-08-08 18:35] iosephmagno commented on #9300
I thought it best to also add a Feature Request #9317.

[2022-08-08 19:39] brandellcassio commented on #6290
Guys, the solution is here! https://github.com/firebase/flutterfire/issues/4300#issuecomment-916883580! Another user told about it, but I could not find it, so I'm posting here just in case if someone is trapped on it.

[2022-08-08 20:16] federicogomez1-gj commented on #8842
Hello. Have you already found a solution? Can I collaborate on something?

[2022-08-08 20:20] arthas1888 commented on #6290
At last it works with the last release, I tested successfully with next json body

                   {
                      "priority": "high",
                      "data": {
                          "key": "value"
                      },
                      "content_available": true,
                      "apns": {
                          "headers": {
                              "apns-

[2022-08-08 21:25] akospwc commented on #9252
@Lyokone Firebase-iOS-SDK 9.4.1 is out now: https://firebase.google.com/support/release-notes/ios#9.4.1

[2022-08-09 01:03] #9149 closed

[2022-08-09 07:38] russellwheatley commented on #9015
Hey folks, I've just tested the FlutterFire example app using the simulator and a real device. It builds without any issues now. For clarity, I'm using Xcode version 13.4.1.

If you wish to test the FlutterFire Firestore example app, please follow these steps:
1. Clone FlutterFire repo.
2. Install package managing tool [melos](https://github.com/invertase/melos), and run `melos bootstrap` in the p

[2022-08-09 07:42] darshankawar commented on #9312
@chejdj
Is this crash replicable locally in debug mode ? If so, can you provide steps to replicate and possibly minimal code sample ?

Also, can you try to upgrade `firebase_messaging` plugin and `shared_preferences` plugin to latest versions and try again to see if you still get same crash ?

https://pub.dev/packages/firebase_messaging/changelog#1201

https://pub.dev/packages/shared_preferences/c

[2022-08-09 07:42] russellwheatley commented on #6196
Hey @mockturtl, I don't suppose you're able to provide an MCVE so I can reproduce? I'd be happy to resolve this issue once I can reproduce. Thanks!

[2022-08-09 07:58] darshankawar commented on #9299
Thanks for the detailed report and an existing issue at native side. Looking at the original issue, it seems to be an issue at js side and probably not at client, considering the fact that you mentioned, it works  on mobile platform. I suggest you to share you findings in that issue, or open a new issue there (since the linked issue is open since 2018 and there doesn't seem to be any activity in i

[2022-08-09 08:06] darshankawar commented on #9240
Looks like this need to be reported in dedicated repo: https://github.com/invertase/flutterfire_cli/issues

Closing from here.

[2022-08-09 08:06] #9240 closed

[2022-08-09 08:20] darshankawar commented on #9244
Thanks for the update. Keeping this issue open and labeling for further insights from the team, as this is coming from crashlytics and there doesn't seem to be concrete steps to replicate or code sample.

Similar issue was raised but was closed when OP said they don't see the error anymore in the crashlytics: https://github.com/firebase/flutterfire/issues/8134. Another instance of same crash: http

[2022-08-09 08:28] spiderion commented on #9311
Already checked before creating the issue here. Could not find a solution.

[2022-08-09 08:31] darshankawar commented on #9283
Considering this and as also shared the same as part of [this](https://firebase.google.com/docs/functions/beta) document from Firebase, the issue doesn't seem to be at client side due to current limitation. I advise you to reach out to [Firebase support](https://firebase.google.com/support) for further resolution.

[2022-08-09 08:49] darshankawar commented on #9291
@lukertaylor
Can you also try [this](https://stackoverflow.com/a/72931246) solution and see if it helps ?

[2022-08-09 08:52] spiderion commented on #9311
Ok I found the issue.

Flutter initialize needs to be called this way.
 await FirebaseRemoteConfigImpl.getActivatedRemoteConfig(FirebaseRemoteConfig.instance);

And a file needs to be generated first firebase_options.dart
Which is generated by  this part
https://firebase.google.com/docs/flutter/setup?platform=android#:~:text=From%20your%20Flutter%20project%20directory%2C%20run%20the%20following%20

[2022-08-09 08:52] #9311 closed

[2022-08-09 10:50] darshankawar commented on #9305
Thanks for the update. Can you try as below and see if it works or gives you same error ?

[code]

[2022-08-09 11:17] chejdj commented on #9312
@darshankawar  OK，I can't replicate locally. I will update the latest version. If still exists, I will reopen

[2022-08-09 11:17] #9312 closed

[2022-08-09 11:46] darshankawar commented on #9300
Thanks for the update @iosephmagno
Based on your comment here: https://github.com/firebase/flutterfire/pull/9292#issuecomment-1207883365, I verified using the changes being made as part of that PR and confirmed that the notifications works in all scenarios, including the one you mentioned, ie, when app is terminated -> notification is sent -> open another app, the notification is received properly

[2022-08-09 12:32] #6290 closed

[2022-08-09 12:32] #8857 closed

[2022-08-09 13:27] iosephmagno commented on #9300
Hello @darshankawar, what PR are you referring to?

As for your test, I see you are using firebase console to send notifications to your device. This means that maybe you are using “notification” in the payload, not “data-only” silent notifications. Can you double check it?

As mentioned, we have no issues with receiving notifications if we use “notification”. But in that case, we cannot modify pa

[2022-08-09 13:36] pepomps commented on #9305
Thanks for the help so far!

After the suggestion, tried to run the code in some different states.
When using signInWithRedirect on web, we get redirected to another page. Out off our main code flow,
after being redirected back, the main code runs again.

If we follow the expected flow:
Main -> signInWithRedirect -> "Provider flow" -> "Main" -> getRedirectResult: Works as expected
But if we follow

[2022-08-09 13:48] awaik opened #9322 "🐛 [firebase_messaging] onMessage not called when data notification recieved in iOS"
## Bug report

On iOS devices `FirebaseMessaging.onMessage` do not fire event if data message (without 'notification' key) received.
With the same payload `FirebaseMessaging.onMessage` fires events on Android.
And on both platforms it works with regular notification messages.

### Steps to reproduce

Steps to reproduce the behavior:

1. Create sample app with firebase_messaging
2. Listen events
[c

[2022-08-09 13:57] lesnitsky opened #9323 "[ui] Add support for sign in with Apple for web"
Currently firebase_ui_auth doesn't support Apple Sign in on web platform. This should be available in stable release.

[2022-08-09 13:59] lesnitsky opened #9324 "[ui] split flutterfire_ui into multiple firebase_ui_* packages"
FlutterFire UI should be split into several packages:

- firebase_ui_auth
- firebase_ui_database
- firebase_ui_firestore
- firebase_ui_localizations
- firebase_ui_oauth
- firebase_ui_oauth_apple
- firebase_ui_oauth_facebook
- firebase_ui_oauth_google
- firebase_ui_oauth_twitter

[2022-08-09 14:02] lesnitsky opened #9325 "[ui] Add MFA widgets"
Since MFA is now supported in firebase_auth, firebase_ui_auth should have widgets that facilitate MFA

[2022-08-09 14:04] lesnitsky opened #9326 "[ui] add localizations for all languages that flutter supports"
As discussed with @kroikie, flutterfire_ui should support all languages that are available in `material_localizations`. We need all labels to be translated and added to firebase_ui_localizations package.

[2022-08-09 14:07] lesnitsky opened #9327 "📚 [ui] doc improvements"
- [x] API docs
- [x] Getting started guide
- [x] add migration guide
- [x] add platform support matrix for firebase_ui_auth

[2022-08-09 14:18] lesnitsky commented on #9323
Duplicate #8936

[2022-08-09 14:18] #9323 closed

[2022-08-09 15:45] jt274 commented on #9283
@darshankawar I do believe the original bug report is still valid though, for the `cloud_functions` package. When a function is not found, it should provide an error message that says the function is not found. The same error received when trying to call a v2 function, is received when putting in a random string of characters for the function name.

It currently returns:
`[firebase_functions/inter

[2022-08-09 15:59] GroovinChip commented on #9310
So it turns out that the problem here is that the `desktop_multi_window` plugin is [only registering itself](https://github.com/GroovinChip/flutter-plugins/blob/main/packages/desktop_multi_window/macos/Classes/FlutterWindow.swift#L77), and not any other plugins, on the new engine. I asked around, and it seems that the plugin will not be able to get a list of plugins from the main engine in order t

[2022-08-09 15:59] #9310 closed

[2022-08-09 16:48] maximveksler commented on #8815
@oodavid is

[code]

Actually working for?

I'm compilation errors

![image](https://user-images.githubusercontent.com/550550/183710268-cd651179-5e79-4f7e-b7b0-dc77a799bae0.png)

[2022-08-09 17:42] scatboy777 opened #9328 "🐛 [cloud_firestore] Fatal Exception: NSInvalidArgumentException -[NSNull getDocumentsWithSource:completion:]: unrecognized selector sent to instance"
## Bug report

**Describe the bug**
My application is rejected by Apple due to the following reason "App randomly crashes". I am unable to reproduce the issue. The application never crashed on real device. I have already spent days to try to find something interesting on the crash reports ...but without any success.
They have provided crash reports (see below) and I have uploaded dSYMs on Firebase

[2022-08-09 18:18] GroovinChip commented on #8811
I am having this issue with macOS as well - every time my app is run, in both debug and release modes, I am prompted for keychain access, and as mentioned above, this is not acceptable behavior for a user journey. In fact, this issue is actively preventing me from being able to release an app I've been working on.

I have tried the following things to fix the issue, with no success:
* Changing app

[2022-08-09 19:22] mikejones3 opened #9329 "[📚] How to change "Sign In" string or the "Don't Have an account? Register" Text."
Not sure how to Remove the Default "Sign In" string or the "Don't Have an account? Register" Text.

If you are using Google and Apple sign in only for example then you do not need the "Don't Have an account? Register" Text.

<img width="321" alt="image" src="https://user-images.githubusercontent.com/13171497/183743919-0b1b490d-71e1-4d79-b232-ed08432af0aa.png">

[2022-08-09 19:58] guilherme-v commented on #6242
I'm having exactly the same issue here, the workaround was to use the [app_links](https://pub.dev/packages/app_links) library instead

[2022-08-09 20:04] mockturtl commented on #6196
@russellwheatley I'm afraid I can't help with a case to reproduce.

It seems that activating Remote Config in the Firebase dashboard changed my API key, leading to "user not authorized."  (The config file was created in 2017, so I guess something needed to migrate.)

I think the plugin should surface the error more clearly:

[code]

[2022-08-09 20:55] mikejones3 commented on #8788
Waiting on this feature as well, I do not want users to "steal" other peoples emails addresses, preventing email address owners fromusign their own email address.

[2022-08-09 21:03] Turburlar opened #9330 "🐛 cloud_firestore - Throws 'no default app' exception after Firebase has been initialized with a specific firebase project."
I am initializing Firebase with a specific project. I am then passing the resulting FirebaseApp to FirebaseFirestore.instanceOf method.

Then when I try to write to a collection, I get the following exception...

`FirebaseException ([core/no-app] No Firebase App '[DEFAULT]' has been created - call Firebase.initializeApp())`

Here is a minimal reproducible example, with a comment indicating the the

[2022-08-10 05:32] maheshmnj commented on #8811
The irony of this bug I can reproduce this in my own project

[2022-08-10 05:59] lukertaylor commented on #9291
@darshankawar sorry but that isn't helpful. I am not using a Cloud Function.

I posted the issue and a workaround.

[2022-08-10 06:27] darshankawar commented on #9283
Thanks for the update. Keeping this issue open for further insights from the team.

[2022-08-10 06:37] darshankawar commented on #9305
I think the first option is an expected flow, because, since, you are getting a `null` while directly using the method, it may be expecting an object, which it is unable to find and hence the error. That is being taken care in the first option, as we are providing a provider.

Alternatively you can try to use `signInWithRedirect` to keep the authentication process in the same window and see if it

[2022-08-10 06:48] ollydixon commented on #8811
Honestly I know this isn't productive. But Firebase iOS libraries have been a bane for so many years. Even in the React Native days they were plagued with build issues and crashes.

I made a suggestion that perhaps the Flutterfire team write the whole library in Dart and not use the native libraries.

[2022-08-10 08:33] graemep-nz commented on #9329
I think you can do it like this but I haven't tried it - set showAuthActionSwitch false.  login_view.dart writes the text if showAuthActionText is true.

[code]

[2022-08-10 08:38] iosephmagno commented on #9300
Thanks for the kind assistance!

Which iOS version are you using?
Can you add title and body fields, and try to display headup content?https://github.com/firebase/flutterfire/issues/9300#issuecomment-1207826868

Because I already looked at the PR example and there is no difference with our code. Also, Apple confirmed we must use “notification” with “content-mutable” and a service app extention to

[2022-08-10 08:47] iosephmagno commented on #9300
For a full coverage of iOS notifications, firebase-mesaging should add support for mutable-content in notification payload and let developers modify notification’s fields before they show head ups through flutter_local_notification, just as we now do with data-only notifications.

[2022-08-10 09:33] darshankawar commented on #9328
@scatboy777
Looking at the error:

[code]

It indicates, there's something missing / wrong while `queryGet:withMethodCallResult`.  You'll need to check how are you querying the backend. Possibly causing an error by using `FieldValue.arrayUnion()` at not growable FieldValue List.
So I suggest you to revisit your query snapshot and entire query and see if you are properly implementing growable list.

[2022-08-10 09:38] matthewfx commented on #7546
I've released our app with dynamic links implemented for the first time and unfortunately, it doesn't work after installation for us either :( It works great for Android or when the iOS app is already installed... That is very disappointing because deep links will be mainly used for that particular case when the app is freshly installed... Any idea when this bug could be fixed?

[2022-08-10 09:55] darshankawar commented on #9329
Please use this discussion thread : https://github.com/firebase/flutterfire/discussions/6978 for questions like these.

Closing from here.

[2022-08-10 09:55] #9329 closed

[2022-08-10 10:34] darshankawar commented on #9330
@Turburlar
Looking at the code you shared above, you don't seem to be initializing Firebase before using its service, and hence it is throwing the error and indicating you to call `Firebase.initializeApp()`. So, you need to update your code as below inside `main()` and try again:

[code]

Also, I suggest you to make use of `flutterfire configure` that writes native config files to your project and

[2022-08-10 10:34] #9330 closed

[2022-08-10 11:06] appcapsergen opened #9332 "🐛 [firebase_messaging] App crashes throwing `Unable to create service io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingBackgroundService: java.lang.NullPointerException: Attempt to invoke virtual method android.content.SharedPreferences android.content.Context.getSharedPreferences(java.lang.String, int) on a null object reference`."
## Bug report

**Describe the bug**
Android Flutter app crash. Report from crashlytics in Google Play Console.

**Stacktrace**
<details><summary>Click To Expand</summary>

[code]

</details>

### Flutter doctor

Run `flutter doctor` and paste the output below:

<details><summary>Click To Expand</summary>

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 3.0.

[2022-08-10 11:45] darshankawar commented on #9300
I am on iOS 15.3.1.

Yes, added as below:

[code]

And then triggered the push event through `nodejs` which gave me `success` for each push, with below in console:

[code]

The log didn't print because it didn't record when app was terminated.

[2022-08-10 12:12] iosephmagno commented on #9300
IOS version is old. Can you use flutter local notifcation to show head up in your video?

Idk what to say, when (app is terminated AND not the last opened one) it doesnt work for us and our code is the same of Russell’s example. Also, it is expected that it doesnt work in such case, because it is Apple restriction. @russellwheatley can you please look into this and shed some light?

[2022-08-10 12:22] darshankawar commented on #9332
@appcapsergen
Does it replicate locally in debug mode ? Is there a way for you to possibly provide steps to replicate or code sample that triggers this crash locally ?

[2022-08-10 12:24] appcapsergen commented on #9332
@darshankawar This has never occurred for me unfortunately, no. This is simply taken out of the Google Play Console.

[2022-08-10 12:43] darshankawar commented on #9332
Seems to be coming from
https://github.com/firebase/flutterfire/blob/a6204128edf1f54ac734385d0ed6214d50cebd1b/packages/firebase_messaging/firebase_messaging/android/src/main/java/io/flutter/plugins/firebase/messaging/FlutterFirebaseMessagingBackgroundExecutor.java#L275

https://github.com/firebase/flutterfire/blob/a6204128edf1f54ac734385d0ed6214d50cebd1b/packages/firebase_messaging/firebase_messag

[2022-08-10 12:43] darshankawar commented on #9332
Keeping it open and labeling for further insights from the team, as there's no replicable steps or code sample.

/cc @russellwheatley

[2022-08-10 12:48] #4188 closed

[2022-08-10 12:48] #8979 closed

[2022-08-10 13:21] Turburlar commented on #9330
You are incorrect. I clearly am initializing firbase before using it. I call initializeApp before I using any other firebase service.

I am very confused by your comment.

Also I am running a multiproject setup proof of concept, so I must initialize with specific config values.

Please reopen, or respond with correct code to rectifiy the problem.

[2022-08-10 13:35] h-unterp opened #9333 "Cannot Use Firebase Emulator with integration Test"
## Bug report

**Describe the bug**
[code]
or
[code]

Produces:
Failed to load "/Users/hunterp/dev/integration_fail/test/integration_test/app_test.dart": PlatformException(channel-error, Unable to establish connection on channel., null, null)
If I can't await Firebase.initializeApp(); then I don't see how I can use the firebase emulator with my cloud functions.

### Steps to reproduce

Steps to re

[2022-08-10 14:42] siarheidudko commented on #5051
I ran into the same problem on flutter. It is not possible to use prefixes, only subdomains.

[2022-08-10 17:22] scatboy777 commented on #9328
@darshankawar
Thank you very much for taking the time to help me. Much appreciated!

However, I am still struggling because I have no clue which query is causing the issue because the crashlytics reports / stack trace does not show any class from my project.

Do you think that the error is thrown when the method `get()` is called on a `CollectionReference` ?
I don't understand because there is no

[2022-08-10 18:14] ArkadiuszDatka commented on #9110
@krishna700 try adding 2s delay before FirebaseDynamicLinks.instance.getInitialLink()

[2022-08-10 18:53] pepomps commented on #9305
Thanks for the help @darshankawar.
Got it!!

[2022-08-10 18:53] #9305 closed

[2022-08-10 19:50] blaneyneil commented on #7230
@darshankawar  This probably shouldn't be closed.  I just happened upon the same problem.  A simple get query:

[code]

will throw `Invalid argument(s): Timestamp nanoseconds out of range: -610001000` if any fields in the result set contain a timestamp earlier than ~1970 (i didn't test for the exact date).   The query works as expected on iOS and Android, it fails on the web.

[2022-08-10 20:38] jcblancomartinez opened #9335 "[firebase_messaging 📚] Redundant loading of main.dart.js in firebase_messaging's web example"
Hi,

In firebase_messaging's web example, "main.dart.js" is already [loaded](https://github.com/firebase/flutterfire/blob/master/packages/firebase_messaging/firebase_messaging/example/web/index.html#L10) via:

[code]
loadMainDartJs seems to be in charge of adding it to the body via JS:
[code]

Is there any particular reason for having to invoke loadMainDartJs?

If so, could you please add a commen

[2022-08-10 20:39] jcblancomartinez commented on #9335
Hi @russellwheatley @darshankawar ,

Could you please help me with clarifying this?

Thank you.

Best Regards.

[2022-08-11 01:03] #9070 closed

[2022-08-11 01:35] FortySL opened #9336 "🐛 [Firebase_messaging] There is a delay when send FCM via firebase console, but no delay via Postman use FCM API"
## Bug report

**Describe the bug**
I use FCM to send notifications when new messages coming in my flutter app's chat module. In the early implementation, I send FCM manually via firebase console and with whatever I did, there were always nearly 3 - 10 mins delay when receive notifications on my devices (simulator or physical device). I even tried to create a new clean flutter app used for receivi

[2022-08-11 07:31] darshankawar commented on #9328
Check if something like [this](https://github.com/firebase/flutterfire/issues/7451#issuecomment-988535697) would help.
Also, a minimal code sample would be helpful to debug further.

[2022-08-11 07:33] darshankawar commented on #9300
Keeping it open and labeling for further insights from the team.

/cc @russellwheatley

[2022-08-11 07:37] tommienu commented on #8811
Any chance we can get this into triage? Especially since this blocks any firebase release on macOS.

I'll spend some time this weekend trying older versions for this library to see if this is a recent regression. And if so, in which version it's introduced.

[2022-08-11 08:10] Matsuo32 opened #9337 "🐛 [firebase_storage] Unable to upload images on iOS When user background_locator together"
## Bug report

**Describe the bug**
UploadTask didn't work when I used firebase_storage and [background_locator](https://pub.dev/packages/background_locator) together.

[code]

[code]

### Flutter doctor

Run `flutter doctor` and paste the output below:

<details><summary>Click To Expand</summary>

[code]

</details>

---

### Flutter dependencies

Run `flutter pub deps -- --style=compact` and pas

[2022-08-11 08:16] darshankawar commented on #9336
@FortySL
Flutterfire doesn't control the behavior / timing of the notifications being sent / received, so you'll need to reach out to [Firebase support](https://firebase.google.com/support/) for further resolution.
Closing from here, as this isn't a plugin issue.

[2022-08-11 08:16] #9336 closed

[2022-08-11 08:51] niklaesAtMonta commented on #8815
Having the same issue,
I might switch back to recordFlutterError since I do not want the errors as crashes

[2022-08-11 09:01] darshankawar commented on #9333
@h-unterp
In the sample project you shared, I don't see firebase emulator related setup / config that is required in order to use them.
See this document for more details and reference on adding the required setup: https://firebase.flutter.dev/docs/firestore/usage/#emulator-usage

Also see [this](https://stackoverflow.com/a/62586957) and [this](https://stackoverflow.com/a/67983557) solution and ch

[2022-08-11 09:24] #9313 closed

[2022-08-11 09:25] #8171 closed

[2022-08-11 09:30] #6216 closed

[2022-08-11 10:38] darshankawar commented on #9337
@Matsuo32
This probably is an issue with `background_locator` plugin. See this similar issue that was raised earlier: https://github.com/firebase/flutterfire/issues/5976

Same issue was raised in dedicated repo: https://github.com/rekabhq/background_locator/issues/256. See also https://github.com/rekabhq/background_locator/issues/167#issuecomment-897691509

You should report this in dedicated repo

[2022-08-11 10:38] #9337 closed

[2022-08-11 12:29] h-unterp commented on #9333
@darshankawar I have reviewed all the pages you sent and I am using all of those techniques in my main app.

However, all of the pages you sent call
[code]
before any of the configuration. And as my project demonstrates, this call fails.

You could try to use the emulator before calling `Firebase.initializeApp()` and the demo project has been updated to reflect this like:
[code]
and then it fails

[2022-08-11 13:36] guplem opened #9339 "🐛 [flutterfire_ui] headerBuilder is not being called in the SignInScreen widget"
## Bug report

**Describe the bug**
I am following the instructions in the file "[flutterfire/packages/flutterfire_ui/doc/auth/integrating-your-first-screen.md](https://github.com/firebase/flutterfire/blob/master/packages/flutterfire_ui/doc/auth/integrating-your-first-screen.md)" of this repo.
So far, everything has worked flawlessly except for the headerBuilder which is never built. I placed a pr

[2022-08-11 14:49] lesnitsky commented on #9333
This error means you are using an incompatible version of `firebase_core`. Make sure to use the latest versions

[2022-08-11 15:25] h-unterp commented on #9333
Using the latest   firebase_core: ^1.20.1, demo app updated.

Still showing same errors.

[2022-08-11 16:30] arisAlexis commented on #9113
it's not resolved at all

[2022-08-11 18:22] itssidhere opened #9345 "🐛 [PLUGIN_NAME_HERE] Your issue title here"
## Bug report

**Describe the bug**
Android repetitive crash on various devices

## Additional context

As reported by crashlytics and also from users

## Stacktrace
<details>
<summary>Click to expand </summary>

Fatal Exception: java.lang.NullPointerException: Attempt to read from field 'java.lang.String io.flutter.view.FlutterCallbackInformation.callbackLibraryPath' on a null object reference

[2022-08-12 01:03] #9206 closed

[2022-08-12 05:50] scatboy777 commented on #9328
I only use arrayUnion in 2 places (see below code sample). I am not sure to understand where is the list that must be growable here ? Is it something special on the field type on the firebase collection ?

[code]

[code]

[2022-08-12 06:46] darshankawar commented on #9345
Looks similar to other issues reported: https://github.com/firebase/flutterfire/issues/9332, https://github.com/firebase/flutterfire/issues/9244

Keeping this issue open and labeling based on stack-trace.

/cc @russellwheatley

[2022-08-12 07:22] rohan20 commented on #9291
I was able to get it to work using a `MethodChannel`: https://stackoverflow.com/a/73330541/5066615

[2022-08-12 07:23] rohan20 commented on #8425
Using a `MethodChannel`, you can control that the method channel gets invoked only in `kDebugMode` from Flutter: https://stackoverflow.com/a/73330541/5066615

[2022-08-12 08:19] darshankawar commented on #9339
Thanks for the report. I tried with plugin example and do see same behavior.

1. Phone Sign in screen that uses `headerBuilder` doesn't show the icon:

<img width="356" alt="Screenshot 2022-08-12 at 12 58 47 PM" src="https://user-images.githubusercontent.com/67046386/184314180-40ba8ade-3775-40c3-8cc3-e4df38e89159.png">

2. Same with `Forgot Password` screen:

<img width="357" alt="Screenshot 2022-

[2022-08-12 08:19] darshankawar commented on #9339
/cc @lesnitsky

[2022-08-12 09:22] darshankawar commented on #9328
Can you please provide entire query that you are using ?

Here you are checking if user is null. Can you try by checking what happens if user is not null and see if you still get same error or not ?

[2022-08-12 10:08] darshankawar commented on #9333
@h-unterp
I think the directory structure of your project isn't correct. For `integration_test` to run, you'll need to have a folder named `integration_test` and under it, the `app_test.dart`. See the same mentioned in https://docs.flutter.dev/testing/integration-tests#directory-structure document.
Try making changes per the directory structure and use the correct integration_test command to run t

[2022-08-12 11:16] #9333 closed

[2022-08-12 12:49] mvpires opened #9347 "[firebase_storage][iOS] Can't build on iOS"
Hello, everyone. I'm having a problem trying to build the iOS version of my app. Works fine on Android.

<img width="334" alt="Captura de Tela 2022-08-12 às 09 19 57" src="https://user-images.githubusercontent.com/7838042/184352648-f5563432-5fd4-4355-8ef0-6e00d7dfdca2.png">

[code]
[code]
[code]

What I've tried already:

- Clean everything
[code]
- Changed the iOS version
[code]

- Tried on Xcod

[2022-08-12 13:54] MarcinusX commented on #8720
@russellwheatley is there anything I can do to help you make this feature happen?

[2022-08-12 14:34] russellwheatley commented on #8720
@MarcinusX - Will be in review soon: https://github.com/firebase/flutterfire/pull/9348

[2022-08-12 14:43] rohan20 commented on #6872
For everyone struggling with this issue, what did you end up doing? Not enforcing AppCheck?

Or did you stop using the iOS Simulator for dev?

[2022-08-12 15:32] AresVampire commented on #9270
This problem still happens with firebase_storage 10.3.5

firebase_storage-10.3.5/ios/Classes/FLTFirebaseStoragePlugin.m:7:9: note: did not find header 'FIRStorageTypedefs.h' in framework 'FirebaseStorage' (loaded from '/Volumes/Works/Work/Flutter/itsCoastal/palgo/build/ios/Debug-iphonesimulator/FirebaseStorage')

I am using Flutter 3.0.5

[2022-08-12 15:57] Amr-SymTerra commented on #7404
Can you please give us an update on this? I'm running into the same issue and losing the user when refreshing isn't ideal behavior.

[2022-08-12 16:00] iamsannyrai opened #9349 "🐛 [google_sign_in] The supplied auth credential is malformed or has expired. [ Invalid Idp Response: access_token audience is not for this project ]"
I have used two firebase project for single application to maintain two different environment and trying to authenticate using google sign in using dart-only initialization.
The problem is whenever I try to signin in one of the project, I get above error. All the information of firebase options matches with details in google-services.json for the project.

[2022-08-12 16:01] oscarshaitan commented on #7404
This make no sense as response, to close the the issye

Let say is a single page app, why on refresh is returning null too? that is a error, on my local testing I spot that if you give a delay FirebaseAuth  on a second call return the user and not null.

And even when is a different page using GoRouter, AutoRoute or a simple Push on Flutter navigator, if you call the FirebaseAuth.current user is t

[2022-08-12 16:12] MarcinusX commented on #8720
Amazing, thank you! :)

[2022-08-12 16:49] arnoorani commented on #9270
the issue is with the Firebase library versions, try upgrading them and make sure all of them use the same version of firebase_core.

[2022-08-12 18:57] holyboom1 commented on #9110
i'm found temporary solution this problem...
i'm use library app_links
`  Future<String?> getInitialLink() async {
    final _appLinks = AppLinks();
    final PendingDynamicLinkData? linkData = await FirebaseDynamicLinks.instance.getInitialLink();
    if (linkData != null) {
      return linkData.link.queryParameters[payload];
    } else {
      final Uri? uri = await _appLinks.getInitialAppLink()

[2022-08-13 00:21] Mhamad-Rzgar commented on #6687
I just want to at least catch too-many-requests, which I think it not troughed from verifyPhoneNumber() method or any firebase auth, please how can i catch this quota error for better user experience,That tell user that we blocked him from too much attempting to requesting for sms.

[2022-08-13 03:45] MdSaLaMa opened #9351 "🐛 [cloud_firestore] GetOptions default source when Settings( persistenceEnabled: false)"
what about setting **_GetOptions_** default **_source_** to be
 `get(GetOptions(
            source: Source
                .server))`
in case of
` FirebaseFirestore.instance.settings =
      const Settings(persistenceEnabled: false);`</div>

[2022-08-13 14:37] sohrabonline commented on #9015
S O L U T I O N

[2022-08-13 14:38] sohrabonline commented on #9015
THANKS FOR S O L U T I O N

[2022-08-14 06:00] stevebread commented on #9231
This issue occurs with Flutter 3.0.5 as well
pubspec:
[code]

[code]

Explicitly adding `collection` package with the latest version `1.16.0` produces this failure
[code]

[2022-08-14 10:37] rasitayaz opened #9352 "🐛 [firebase_crashlytics] Unable to upload reports to Firebase"
## Bug report

I'm trying to send crashlytics reports manually using `runZonedGuarded` and its `onError` function. I'm simply calling;

[code]
and crashlytics prints some information on the console:
[code]

And after that, it tries to upload the report but this error shows up:

<details>
<summary>logs</summary><br/>

[code]

</details>

And from time to time, it shows the error below:

<details>
<

[2022-08-14 12:40] Wizzel1 opened #9353 "🐛 [cloud_firestore] Query operator "isNotEqualTo" does not work"
## Bug report

**Describe the bug**
I am trying to query documents based on their status with a `isNotEqualTo` operator but I get no documents returned.

### Steps to reproduce

Steps to reproduce the behavior:

1. Create a collection with 3 documents and add a "status: string" and a 'createdAt: Timestamp' field to it.
2. Set the status values to 1) `pending` 2) `processing` 3) `completed` and the

[2022-08-14 15:03] Whitehat645 commented on #9278
am still getting the Error, is FieldValue.arrayUnion is removed permanently or what for flutter Web?, it's working in debug mode, but not in release mode which it should

[2022-08-14 16:53] lnevaril commented on #7546
The same for me, dynamic link is not working when the app is not installed and user is redirected to the App Store. Then, when navigating to the newly installed app, dynamic link is not received.

[2022-08-14 18:16] sajjad-njr commented on #9113
In my pubspec,yaml file bleow this

cupertino_icons: ^1.0.2
  firebase_core: ^1.20.0
  firebase_auth: ^3.6.2
  cloud_firestore: ^3.4.3
  firebase_analytics: ^9.3.0

still, I get the same error? what should I do? I tried [ flutter pub get , clean , outdated ] Nothing work

[2022-08-14 20:27] nitroplr commented on #9278
This is working fine for me in both cloud_firestore: 3.4.3 and 3.4.4 after having just ran flutter pub upgrade.

[2022-08-15 01:03] #9228 closed

[2022-08-15 01:03] #9200 closed

[2022-08-15 03:05] HTsuruo opened #9354 "🐛 [firebase_auth] MultiFactorInfo property `enrollmentTimestamp` always returns 0.0 in Android"
## Bug report

**Describe the bug**
MultiFactorInfo property `enrollmentTimestamp` always returns 0.0 in Android. Other properties are fine.
https://github.com/firebase/flutterfire/blob/d8bf818528c3705350cdb1b4675d600ba1d29d14/packages/firebase_auth/firebase_auth_platform_interface/lib/src/platform_interface/platform_interface_multi_factor.dart#L124

### Steps to reproduce

Steps to reproduce the

[2022-08-15 05:58] matthewfx commented on #7546
In the most recent release, I've added the app_links package (someone suggested it as a workaround). I've also added remote logging so that when the app is launched it sends me an initial link captured by both Firebase and App_Links. I thought that the worst-case scenario is that app_links catches a universal link and it can't be parsed into a Dynamic link with the `getDynamicLink(...)`. To my sur

[2022-08-15 07:05] jugamir opened #9355 "🐛 [firebase_messaging] Firebase Messaging component is not present (Android)"
## Bug report

**Describe the bug**
`FirebaseMessaging.instance.getToken();`
on android it throws error:
` [ERROR:flutter/lib/ui/ui_dart_state.cc(198)] Unhandled Exception: [firebase_messaging/unknown] Firebase Messaging component is not present`

### Steps to reproduce

- Configure a firebase project, add cloud_messaging plugin.
- add  ` <application android:usesCleartextTraffic="true"/>` to src/

[2022-08-15 07:13] darshankawar commented on #9347
@mvpires
Are you sure you are opening xcworkspace in Xcode and not xcodeproj ?

[2022-08-15 07:30] darshankawar commented on #9349
@iamsannyrai Looking at the error, it doesn't seem to be specific to FlutterFire, but could be due to the configuration based on two different environments, as the error indicates `the access_token audience is not for this project`, ie, the client is properly identifying the error.

Take a look at [this](https://github.com/react-native-google-signin/google-signin/issues/300#issuecomment-381358723)

[2022-08-15 07:30] #9349 closed

[2022-08-15 07:41] darshankawar commented on #9351
For getting data just once using `get()` method there is a `getOptions` parameter which you can use to enable error throwing (by passing `GetOptions(source: Source.server`))

In your case, can you elaborate what are you trying to achieve ?

[2022-08-15 08:14] darshankawar commented on #9352
@rasitayaz
Looking at the error from the log you shared:

`Couldn't encode request, returning with 400` seems to be coming from native Android sdk:

https://github.com/firebase/firebase-android-sdk/blob/fa4586a58267df04ba5310e269582b0672e02af0/transport/transport-backend-cct/src/main/java/com/google/android/datatransport/cct/CctTransportBackend.java#L313

And `Couldn't open connection, returning w

[2022-08-15 08:14] #9352 closed

[2022-08-15 09:53] darshankawar commented on #9353
@Wizzel1 Can you try something like `isNotEqualTo: true`, where in this query does not return documents with `status` where the 'status` field does not exist.

`Not-equal (!=) and not-in queries exclude documents where the given field does not exist.`

[2022-08-15 10:17] nimeacuerdo opened #9356 "🐛 [firebase_core] Updating to 1.20.1 breaks iOS build"
## Bug report

**Describe the bug**
The following upgrade breaks the iOS build of my Flutter app. Android build works fine.

`firebase_core ^1.10.0` ->` ^1.20.1`
`cloud_functions ^3.1.1` -> `^3.3.4`

### Expected behavior

A clear and concise description of what you expected to happen.

The error is the following:

[code]

## Additional context

Add any other context about the problem here.

---

[2022-08-15 10:18] darshankawar commented on #9354
Thanks for the report. I do see same behavior on Android.

[2022-08-15 10:43] darshankawar commented on #9355
@jugamir This, according to Flutter documentation is only added if you want to allow HTTP connections for Android debug builds: https://docs.flutter.dev/release/breaking-changes/network-policy-ios-android#allowing-cleartext-connection-for-debug-builds

If you are not looking to do so, does removing this property still gives you same error ?

Also, from plugin's official example, in manifest file,

[2022-08-15 11:03] jugamir commented on #9355
@darshankawar
Thanks for the quick response! Yes it is working fine if I remove this line

`<application android:usesCleartextTraffic="true"/>`

But I need this,  because I am working with local backend builds as well.  It is also independent from this [https://stackoverflow.com/questions/67007399/firebase-messaging-component-is-not-present-in-android-studio](url)

You can close the issue if you t

[2022-08-15 11:09] darshankawar commented on #9356
Check [this](https://github.com/firebase/firebase-ios-sdk/issues/9982) issue link and underlying comments / solution and see if it works for you.

[2022-08-15 11:22] darshankawar commented on #9231
@stevebread
Do you have `firebase_auth_platform_interface: ^6.5.3` added in your pubspec ?
Also, what's the flutter sdk constraint version are you on ? (ex: sdk: ">=2.16.0 <3.0.0")

[2022-08-15 11:24] mvpires commented on #9347
Hello, @darshankawar. I've double checked and yes, i'm opening xcworkspace.

[2022-08-15 12:11] ted-marozzi commented on #9356
I found the same issue
<details>
== Building for iOS ==

Configure code signing settings
Searching for files matching /Users/builder/Library/MobileDevice/Provisioning Profiles/*.mobileprovision
Searching for files matching /Users/builder/Library/MobileDevice/Provisioning Profiles/*.provisionprofile
List available code signing certificates in keychain /Users/builder/Library/codemagic-cli-tools/keyc

[2022-08-15 13:32] stevebread commented on #9231
No, the pubspec does not have firebase_auth_platform_interface explicitly added. This is the constraint version

[code]

I experienced this issue on a new Flutter project created through Android Studio. After creating the default counter app, I followed the instructions on https://firebase.google.com/docs/flutter/setup?platform=web to add firebase and the firebase_auth plugin and then running the

[2022-08-15 14:07] Miiel commented on #9347
I have the same issue, and I'm also opening xcworkspace.

[2022-08-15 14:13] russellwheatley commented on #8658
Hey @Alecia1997, FlutterFire now uses web JS SDK  > v9. So the initialization has changed since your reproduction code. I've just copied and pasted your "main.dart" against FlutterFire and there is no exception produced anymore.

Here is your updated "main.dart" file with Firebase initialization occurring within the dart code:
NOTE:	 I've also updated your code to use setState so the contents of r

[2022-08-15 14:27] mvpires commented on #9347
I also tried to remove this pre-caching line and it didn't work for me, but the errors are indeed unrelated. Thanks, @Miiel. I'll investigate further.

[2022-08-15 15:27] russellwheatley commented on #8811
I've just ran the Firebase Messaging example & the Cloud Firestore example and I didn't get the keychain access request in either instance. Out of curiosity, could the users who are experiencing this issue let me know if you are initializing your app from dart code or do you have the `GoogleService-Info.plist` in your Runner directory?

If you wish to add the service file easily, run `flutterfire

[2022-08-15 15:55] iamsannyrai commented on #9349
@darshankawar I have reviewed all the key values present in firebase_options.dart with google-services.json file. They match. [This](https://github.com/react-native-google-signin/google-signin/issues/300#issuecomment-381358723) doesn't seem to solve my problem.

[2022-08-15 16:48] Wizzel1 commented on #9353
@darshankawar I tried
[code]
and the result is an empty list.

[2022-08-15 17:18] ollydixon commented on #8811
@russellwheatley used the CLI.

[2022-08-15 20:23] ted-marozzi commented on #9356
I found that cleaning the global cache didn't work for me.
I think there seems to be some problems with the ffi boundaries and the version 9.30 firebase ios sdk precompiled binary, from looking at the error messages.
My code runs in ci and I am on linux but here is my flutter doctor anyway. (My code magic CI uses flutter 3.0.5 too)
[code]
<details>
<summary>
flutter pub deps -- --style=compact
</s

[2022-08-16 06:13] tommienu commented on #8811
We might be on to something here. I'm actually able to run the app without any error by doing the following:
* Remove all `GoogleService-Info.plist` files from my projects (i accidentally had one in /macos as well)
* Compile and run the app, ensure that it fails with the `GoogleService-Info.plist`-file missing error.
* Run `flutterfire configure` and let it create the `GoogleService-Info.plist`-fi

[2022-08-16 06:55] Lyokone commented on #9201
Hello @CurtainProgramming @baunov,
Please open another issue with reproduction code so that I can help you :)

[2022-08-16 06:59] darshankawar commented on #9356
I tried this by upgrading `firebase_core` and `cloud_firestore` plugins to latest versions on `cloud_firestore_example` which compiled and built properly without any issues:

<img width="230" alt="Screenshot 2022-08-16 at 12 28 21 PM" src="https://user-images.githubusercontent.com/67046386/184817216-ecd37317-979a-4d94-b92c-76a60a02e18b.png">

[code]

[2022-08-16 07:01] Lyokone commented on #9252
Hello :)
Currently being done here: https://github.com/firebase/flutterfire/pull/9357

[2022-08-16 07:08] Lyokone commented on #9255
Hello @SKnoedler
Could you create a full reproduction so I can take a look?

[2022-08-16 07:29] darshankawar commented on #9231
Thanks for the details @stevebread. I created a new Flutter project from AS and followed all steps mentioned in the instructions link you shared above, but still didn't get the error you are facing. I was able to compile and built web app properly. See below for more details.

Running `dart pub global activate flutterfire_cli` installs latest version of `collection` plugin as below:

<img width="6

[2022-08-16 07:37] darshankawar commented on #9349
@iamsannyrai
I suggest you to reach out to [firebase support](https://firebase.google.com/support) for further resolution.

[2022-08-16 07:53] darshankawar commented on #9347
Please check if any of above `pod` or the `target` could be causing the conflict. You may remove them one by one and see which one could be causing the error.

[2022-08-16 08:28] darshankawar commented on #9355
Thanks for the feedback @jugamir. That probably doesn't seem like expected behavior, because it is throwing an unhandled exception, so it surely must be handled, but I am not sure if that will be done at client side or native android firebase sdk.

Can you provide your app level and project level `build.gradle` files ? Maybe also try to add `minifyEnabled false` and see if it helps.

[2022-08-16 08:52] ted-marozzi commented on #9356
did you try with the precompiled ios bundle and run ```flutter build ipa --release``` @darshankawar
[code]

[2022-08-16 10:10] stevebread commented on #9231
Thanks, that helped me solve the issue. I had installed Flutter 3.0.5 into a new folder (not overwriting the 2.x SDK) and updated the Windows system path accordingly. On creating a new Flutter project, Android Studio shows a Flutter SDK path which I updated but I didn't realize that there was also a Dart SDK path in AS that needs to be updated

[2022-08-16 10:17] darshankawar commented on #9353
Thanks for the update. Can you provide the complete query along with minimal code sample that we can directly use to verify this ?

[2022-08-16 10:25] russellwheatley commented on #8811
@tommienu have you tried creating a new app on the Firebase Console, updating the bundle id in Xcode and writing the service file again? I just [noticed this](https://stackoverflow.com/a/71899019/5681607) and wonder whether there is something to it 🤔

Do you mean changing the version of the app?

[2022-08-16 10:28] ollydixon commented on #8811
We used the CLI as I mentioned before, we created 2 files one for DEV and one for PROD for real time switching. PROD is default.

This doesn't work for Android, you need to restart the app and have the service file, so that's broken but off topic for this iOS issue.

Just checking here, you are testing with MacOS right and not iOS? The bug is related to MacOS.

[2022-08-16 10:28] msackman commented on #8720
Is #9348 going to be sufficient? I see no changes to getPermissions but maybe I'm missing something - it's really important to be able to tell the difference between "the user has never answered this question yet" and "the user said no". Currently, even with the new `<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>` in the manifest, on a fresh app install on android 13, `Fir

[2022-08-16 10:32] darshankawar commented on #9231
Good to know your issue is resolved.
I am going ahead and closing as resolved.

[2022-08-16 10:32] #9231 closed

[2022-08-16 10:33] russellwheatley opened #9360 "Android emulator is failing on android firestore e2e tests"
Test failure:
[code]

[2022-08-16 10:40] darshankawar commented on #9168
Sorry, somehow missed this issue from my list. Keeping it open for further insights from the team.

[2022-08-16 11:57] Lyokone opened #9362 "feat(auth): add example on how to use Apple SignIn"
Currently, the example app of Firebase Auth does not include Apple SignIn.

We should add it to ensure that we can add that to our tests.

[2022-08-16 12:04] mvpires commented on #9347
@darshankawar I've removed this pod, like @Miiel suggested and the firebase_storage error is gone but I still can't build. The problem now, however, is with SdWebImage, so I think my issue here is solved. Thanks for the attention.

[2022-08-16 12:13] russellwheatley commented on #8811
Yes, macOS. My response was to @tommienu.

[2022-08-16 12:34] darshankawar commented on #9347
Thanks for feedback. Closing based on above comment.

[2022-08-16 13:05] russellwheatley commented on #8720
@msackman Just reading the documentation for android 13 permissions. I don't think there is a setting for `notDetermined`. Read this section [here](https://developer.android.com/guide/topics/ui/notifiers/notification-permission#new-apps).

Quote:

So if it is a fresh install, it will be `denied` until the user has granted permission.

[2022-08-16 13:26] msackman commented on #8720
@russellwheatley  Well this seems problematic. On iOS with flutterfire, the behaviour is: 1) `notDetermined` until you request permissions, so you can use this to navigate to a suitable page; 2) `authorized` or `denied` once the user has made a decision, so if you read either of these values, you know not to request permission again and just honour the user's choice.

With the android13 system, ho

[2022-08-16 13:32] russellwheatley commented on #8720
It's been `authorized` or `denied` for every android release prior to android 13 so I can't see how this is now becoming a problem. I don't think there is anyway to detect `notDetermined` for android 13 (according to the documentation I posted previously), but if you find a way, I'd be happy to look into it.

[2022-08-16 13:38] msackman commented on #8720
@russellwheatley Yes but every Android release until now didn't require the app to figure out *when* to ask for permission - because it was silently granted - if the API said `denied` then you just don't send notifications.

Ok, so in the case of android only, every app is now going to have to store an extra bool persistently recording whether or not it's asked for permission. It's honestly rare,

[2022-08-16 13:45] tommienu commented on #8811
I didn't try this, but I did the full renaming of the app, including SKU, new distribution cert and BUNDLE_ID. And that didn't work.

I'll try and create a new Firebase project from the `flutterfire`-tool and see if this solves the issue.

Yes, correct.

[2022-08-16 14:34] tommienu commented on #8811
The same issue, unfortunately.

* I removed all keys from the keystore (to avoid collisions)
* Deleted `GoogleService-Info.plist` from `Runner`-folder.
* Ran `flutter clean`
* Ran `flutterfire configure` and created a new Firebase project for MacOS via the command line tool.
* Ran the app, first run ran fine (since it wrote the initial keys to the keystore)
* Subsequent runs caused the keystore-ac

[2022-08-16 15:01] #8476 closed

[2022-08-16 15:13] TammiLion commented on #8811
In our project we have the GoogleService-Info.plist in the Runner directory and unfortunately experience the same issue.

@russellwheatley did you add/try the step @ollydixon mentioned after @maheshmnj first couldn't reproduce it using the sample project either? once he did those steps he was able to reproduce the issue so maybe the same works for you too (added a screenshot of the specific commen

[2022-08-16 15:37] davidmigloz opened #9363 "🐛 [firebase_auth] multiFactor.getEnrolledFactors() throws an error on iOS"
## Bug report

Given an iOS user with multi-factor enrolled, when the app calls `user.multiFactor.getEnrolledFactors()`, it throws `Null check operator used on a null value` error in the following line:

https://github.com/firebase/flutterfire/blob/2937fb8ec2abd5d823f5434150383e81fec80a05/packages/firebase_auth/firebase_auth_platform_interface/lib/src/pigeon/messages.pigeon.dart#L86

On Android it

[2022-08-16 19:34] edimarvirtual commented on #9015
it worked for me, but only on the emulator, when I use the ```flutter build ipa --release``` command, it returns the following errors:

[code]

however, I didn't leave my podfile exactly the same as in the example. I don't know if that could be it.

my podfile:

[code]

**is anyone having the same problem????**

[2022-08-16 20:48] rivella50 commented on #9015
@edimarvirtual Try to add the mentioned `post_install` part in your Podfile:
[code]

[2022-08-16 20:54] ted-marozzi commented on #9356
Looks like I am hitting #9015 the solution there worked for me. Not really keen on setting the development target to 11 but anyway.

[2022-08-16 21:01] m2sahin commented on #6290
It works when you throw it down, yes, but when the application is completely closed, the notification does not come at all.

[2022-08-16 21:11] hatemragab commented on #6290
I see PR #9292 fix the problem is it available in pub dev or not yet?

[2022-08-16 21:19] m2sahin commented on #6290
firebase_messaging 12.0.2 is the latest version but now I'm getting the same error. I hope the problem is fixed soon, it's very annoying.

[2022-08-16 21:27] hatemragab commented on #6290
Yes i don't this bug fixed in change log
Can any one send how to import the package from the GitHub master branch?

[2022-08-16 22:43] edimarvirtual commented on #9015
**@rivella50 it worked here, thanks everyone.**

[2022-08-16 23:00] Scott-Tenera commented on #9001
I am seeing the same issue with FirebaseAuth emulator and Android. Can this be reopened?

[2022-08-17 01:03] #9067 closed

[2022-08-17 08:20] Lyokone commented on #9363
Hello,
Thanks for the bug report, I'll have a look now

[2022-08-17 08:37] russellwheatley commented on #8811
Hey folks, I've spent a couple of hours this morning trying to reproduce this on a fresh app install. I installed `firebase_core`,  `firebase_analytics` & `firebase_crashlytics` and updated the `main.dart` like the below:

<details>
<summary>code sample</summary>
[code]
</details>

I've also updated the version ran in debug and release mode and I still couldn't get a keychain access prompt.

Inter

[2022-08-17 08:42] TammiLion commented on #8811
@russellwheatley just to be sure, did you also create a firebase project in firebase and set it up in the project?

[2022-08-17 08:53] russellwheatley commented on #8811
I used an existing firebase project but it created a new macOS app on the project.

[2022-08-17 08:58] TammiLion commented on #8811
Ok cool, then I would indeed expect that you would also see these keychain prompts, from what I can see comparing our GoogleService-Info plist files, the iOS and MacOS ones have different values for the GOOGLE_APP_ID and one of the prompts is always for the "idvalue;*". I will make a repo with a sample project then, maybe then you can spot what is different/ gone wrong and hopefully with that proj

[2022-08-17 09:06] russellwheatley commented on #8811
@TammiLion Appreciated  🙏

[2022-08-17 09:18] #9351 closed

[2022-08-17 09:59] komallaghate commented on #6196
Is the solution for the above problem available? I'm also getting the same error. I'm getting an Invalid Envelope and an Internal remote config fetch error.

[2022-08-17 10:03] scalz commented on #9300
Hello,
we also noticed the same behaviour
- data only notification are not reliable on ios, 90% of the time it does not trigger background handler when switching app exactly like @iosephmagno  mentioned.
- as silent notification are not reliable on ios, there should be a way to use "notification" in payload and change its layout. Else what's the point to use a third party local notification packag

[2022-08-17 10:25] davidmigloz commented on #9363
Thanks for the quick fix!

[2022-08-17 10:35] russellwheatley commented on #8779
Hey @oodavid, I've finally circled back to this issue. I think I understand the problem. The documentation is wrong (I'll update with a PR).

It should be this method override of Flutter exceptions:

[code]

You don't need a `FutureBuilder` as demonstrated with the below noted:

<details>
<summary>Code sample</summary>

[code]
</details>

Press the button and you should see the correct Crashlytics

[2022-08-17 11:15] Lyokone commented on #9354
Hello, looking at the data from Android, it seems that the underlying SDK is returning 0.
I'll raise an issue in the Android Firebase repo
<img width="424" alt="Screenshot 2022-08-17 at 13 14 04" src="https://user-images.githubusercontent.com/3680002/185105168-d4df73cc-46a8-43fb-be8f-35760681f577.png">

[2022-08-17 11:36] iosephmagno commented on #9300
@scalz yes Apple confirmed that silent notifications are not meant to be used like on android.

To send high priority notifications, iOS requires “notification” and “mutable-content:1”. Firebase messaging should integrate a service app extention to let us modify content before displaying the head up.

https://github.com/firebase/flutterfire/issues/9300#issuecomment-1210349576

I think they are inv

[2022-08-17 11:57] TammiLion commented on #8811
Made a sample project and managed to reproduce it. Some (for me easily overlooked steps). In Xcode setting the signing to your own signing (so not Sign to run Locally). Adding the Firebase.configure() into the AppDelegate.swift (if this is wrong please let me know). In our project we use Firebase Crashlytics and Firebase Messaging and I saw the same for @maheshmnj so I also added it in the pubspec

[2022-08-17 12:28] JaviBonilla opened #9369 "🐛 [firebase_app_check] Enable App Check in Debug mode in Flutter Web"
## Bug report

App Check works fine in production mode, but in debug mode I get errors:
[code]

### Steps to reproduce

I tried two things:

- Generate a debug token using Firebase console.
- Generate a debug token in the App via inserting  `<script>self.FIREBASE_APPCHECK_DEBUG_TOKEN = true;</script>` into index.html. And then adding that to in the Firebase console as a debug token. I also noticed

[2022-08-17 12:36] duduBaiao commented on #9291
I guess your app will stop working as soon as you enable the AppCheck in the Firebase Console, since the backend will expect the token.

[2022-08-17 13:28] russellwheatley commented on #8811
@TammiLion Thank you for sharing your setup. The video is only 26 seconds long, but I didn't need to watch it anyway.

You do not need to add `FirebaseApp.configure()` to your AppDelegate. The `firebase_core` plugin already takes care of configuration [here](https://github.com/firebase/flutterfire/blob/master/packages/firebase_core/firebase_core/ios/Classes/FLTFirebaseCorePlugin.m#L47).

@tommienu

[2022-08-17 13:33] tommienu commented on #8811
Nope, here's my AppDelegate.swift:

[code]

I believe I've configured this according to the documentation.

[2022-08-17 13:50] tommienu commented on #8811
FWIFW, this sounds like a regression from this [old issue](https://github.com/firebase/firebase-ios-sdk/issues/5540) from 2020. Which was fixed in Firebase release 6.26.0, according to this [comment]( https://github.com/firebase/firebase-ios-sdk/issues/5540#issuecomment-654279937).

Understanding what changed there might assist with understanding why it's now resurfacing.

[2022-08-17 14:16] GroovinChip commented on #8811
Folks, I have been following this conversation closely over the last few days and I'm super confused as to whether there is a resolution for this issue or not. @russellwheatley seems to feel that this is a user configuration issue, yet @TammiLion is able to reproduce the issue, and @tommienu thinks there is a regression. Do we know what's going on here yet or is this still an ongoing investigation

[2022-08-17 15:36] TammiLion commented on #8811
@russellwheatley thanks for the answer. I removed the Firebase.configure() from the AppDelegate.swift in the sample project. Unfortunately the problem still occurs.

Here's the actual video (once again, might not be immediately available due to drive processing it, will also edit the old comment): https://drive.google.com/file/d/1oXZEAc0U7abGL2Fe1ygDUPUXf-WOFVBL/view?usp=sharing

[2022-08-17 20:37] gizemgizg opened #9370 "Firebase Analytics iOS BUG"
Hi. We defined multiple properties in the analytics account and then disabled the Firebase Analytics account and then re-enabled it to do everything from scratch. At the moment, events that do not have equivalents on the iOS side appear, such as rHa, yFa, Fja. Can you help me?

![image](https://user-images.githubusercontent.com/64318805/185238317-c98cbbf0-6b9b-4a46-8feb-b511a1ebc38c.png)

[2022-08-17 20:59] Turburlar opened #9371 "🐛 [firebase_auth] Firebase Auth throws unknown exception when using auth emulator locally."
I have configured my flutter app to connect to an instance of the firebase auth emulator which I am running.

Upon calling signInWithEmailAndPassword(...), the following exception is thrown...
`
[firebase_auth/unknown] com.google.firebase.FirebaseException: An internal error has occurred. [ Cleartext HTTP traffic to 10.0.2.2 not permitted ]`

I testing my app on the Android emulator running Androi

[2022-08-17 23:56] HTsuruo commented on #9354
I added `in anddroid` to PR title, because it seems that the bug occurs only in android refer to https://github.com/firebase/flutterfire/issues/9363

Thanks.

[2022-08-18 00:58] ncooke3 commented on #8811
Hi everyone,

Apologies for the trouble here and thank you for all the useful information. The [firebase-ios-sdk](https://github.com/firebase/firebase-ios-sdk) team is aware of the issue and we have been actively working on a fix to resolve this. This issue has popped up in a few GitHub issues so I'm going to centralize communications in [firebase-ios-sdk/#9392](https://github.com/firebase/firebas

[2022-08-18 02:17] graemep-nz commented on #9339
also reported here
https://github.com/firebase/flutterfire/issues/9276

[2022-08-18 04:34] PaulRudin commented on #6872
You don't see the output in the console from `flutter run`, but if you launch via xcode, then you can see it in the output that xcode shows.

[2022-08-18 05:28] panchalAlpit opened #9372 "java.io.IOException: FIS_AUTH_ERROR Issue in release build."
Hello I'm getting the "FIS_AUTH_ERROR" when build install from Google Play store but when directly installed the Signed APK so it's working the completely, this issue come after update latest plugin, it's completely working before "firebase_messaging: ^12.0.2" this version.

below the code I'm getting this error.

`var _deviceToken = await FirebaseMessaging.instance.getToken();`

Thanks in Advance

[2022-08-18 06:14] Lyokone commented on #9372
Hello, can you confirm which version was working before?
12.0.1 or 11.x?

[2022-08-18 06:30] Lyokone commented on #9369
Hello, I've tried on the demo app and it works fine. Do you have a reproduction repository?

[2022-08-18 06:42] victormanuelfrancodev commented on #9015
It worked for me, please try.

**Podfile**
platform :ios, '14.0'

**pudspace**
  cloud_firestore: 3.2.1
  firebase_analytics: ^9.3.1
  firebase_core: 1.19.1
  firebase_auth: ^3.6.3

**Terminal**
flutter clean
sudo arch -x86_64 gem install ffi
arch -x86_64 pod update

[2022-08-18 07:55] darshankawar commented on #9369
Similar / related : https://github.com/firebase/flutterfire/issues/6957

[2022-08-18 08:13] darshankawar commented on #9370
@gizemgizg Can you provide example of this ? How are you disabling and then re-enabling ?
Can you also provide `flutter doctor -v`, plugin version ?

[2022-08-18 08:30] gizemgizg commented on #9370
First of all, thank you for your return✨

Firebase Console -> Project Overview -> Project Settings -> Integrations -> Google Analytics -> Manage -> Unlink Analytics from this project

I deleted the properties and data streams(Android, iOS)  I created before disabling it. Then I enabled it. Events are occurring on the iOS side, which I do not understand at the moment.

firebase_analytics: ^9.1.0

!

[2022-08-18 08:36] russellwheatley opened #9375 "Fix end 2 end tests that are being skipped"
Example:
https://github.com/firebase/flutterfire/pull/9361

[2022-08-18 08:40] darshankawar commented on #9371
Check [this](https://stackoverflow.com/a/62985709) solution and see if it helps to resolve the issue.

[2022-08-18 09:36] russellwheatley commented on #9263
Having investigated this, we would have to pass default event parameters into [FirebaseAnalytics.instanceFor](https://github.com/firebase/flutterfire/blob/master/packages/firebase_analytics/firebase_analytics/lib/src/firebase_analytics.dart#L46). If the default parameters are not passed into [initializeAnalytics](https://firebase.google.com/docs/reference/js/analytics.md#initializeanalytics) on fi

[2022-08-18 09:39] russellwheatley commented on #6196
Hey @komallaghate, are you able to share an MCVE? I'd be happy to take a look.

[2022-08-18 09:43] darshankawar commented on #9372
@panchalAlpit
Can you provide complete error log ?
Also, can you confirm that your `API_Key` is not restricted and the release SHA-1 certificate is added properly ?

[2022-08-18 10:28] cnwangxiao opened #9376 "🐛 [firebase_analytics] android release crash (FATAL EXCEPTION: ScionFrontendApi)"
## Bug report

After add **flavor dimensions** in android, android app does crash right on start, only installed in release mode.

Anyone any cloud whats wrong? It worked before and then stopped without reason!? Downgrading packages does not help.

**Describe the bug**

<details><summary>Click To Expand</summary>

[code]

</details>

### Steps to reproduce

<details><summary>build.gradle</summary>

[2022-08-18 10:30] ljmatan commented on #9332
Hey @darshankawar replicable steps are:

1. Implement FCM to Flutter (code examples can be found [here](https://pub.dev/packages/firebase_messaging).
2. App is in background, notification arrives, user clicks on notification.

[2022-08-18 10:30] ljmatan commented on #9244
Hey @darshankawar replicable steps are:

1. Implement FCM to Flutter (code examples can be found [here](https://pub.dev/packages/firebase_messaging).
2. App is in background, notification arrives, user clicks on notification.

[2022-08-18 10:30] ljmatan commented on #9345
Hey @darshankawar replicable steps are:

1. Implement FCM to Flutter (code examples can be found [here](https://pub.dev/packages/firebase_messaging).
2. App is in background, notification arrives, user clicks on notification.

[2022-08-18 12:13] unexus commented on #4300
Problem still exists. Still no "onMessage"-callback if app is active and "alert" is present in "aps".
("gcm.message_id" is available)

Checked line 490 in the file:
https://github.com/firebase/flutterfire/blob/master/packages/firebase_messaging/firebase_messaging/ios/Classes/FLTFirebaseMessagingPlugin.m#L490
`// If "alert" (i.e. notification) is present in userInfo, this will be called by the othe

[2022-08-18 13:17] JaviBonilla commented on #9369
@Lyokone Sorry, yes it's working now, I probably missed something before. These are the steps I followed.

1. Add the following to the index.html.

[code]

2. Run the app in debug mode, a debug token will be printed in the logs.

[code]

3. Add that debug token to App Check in the Firebase console

   [https://firebase.google.com/docs/app-check/web/debug-provide](https://firebase.google.com/docs/a

[2022-08-18 14:11] panchalAlpit commented on #9372
11.2.13 version I'm using

[2022-08-18 14:12] panchalAlpit commented on #9372
getting only "java.io.IOException: FIS_AUTH_ERROR"

[2022-08-18 16:34] rashidotm opened #9379 "🐛 [flutterfire_ui] phone authentication screens direction in rtl languages"
## Bug report

**Describe the bug**
I am using a [flutterfire_ui](https://pub.dev/packages/flutterfire_ui) package to manage the sign in process with phone authentication. When a user signs with phone he/she will be required to enter: a country code, a phone number and an OTP. The screens will use the default direction based on the app locale.

I am declaring the app locale as Arabic. Now although

[2022-08-19 01:03] #9126 closed

[2022-08-19 04:00] m2sahin opened #9381 "FirebaseMessaging.onBackgroundMessage() not working for ios"
### Discussed in https://github.com/firebase/flutterfire/discussions/9380

<div type='discussions-op-text'>

<sup>Originally posted by **m2sahin** August 19, 2022</sup>
HI,
I want to use FirebaseMessaging for notifications in my Flutter project. I have completed the installation for both Android and IOS. Everything works perfectly except one thing.

I want to do; I want to evaluate the incoming no

[2022-08-19 06:48] darshankawar commented on #9369
Good to know the original issue is resolved. Based on above comment I am going ahead and closing as resolved.

You may open a new issue for it for better tracking if you think this is something need to be addressed by the team.

[2022-08-19 07:13] darshankawar commented on #9376
@cnwangxiao
Looking at the error log, it could be occuring due to incompatibility between firebase and Google play service.
Check [this](https://stackoverflow.com/a/67250331) solution and see if it helps.

Also, check [this](https://github.com/firebase/flutterfire/issues/8416#issuecomment-1091899614) recent solution and see if it works for you.

[2022-08-19 07:38] ljmatan opened #9383 "🐛 [firebase_messaging] App crashes"
## Bug report

**Describe the bug**
App crashes once notification is tapped.

### Steps to reproduce

Steps to reproduce the behavior:

1. Implement FCM according to the documentation
2. Add foreground and background message handlers according to the documentation
3. Tap on notification when app is in background state

### Expected behavior

For app not to crash.

### Sample project

https://githu

[2022-08-19 07:39] ljmatan commented on #9383
I also got this output on the iOS a few moments ago:

9.3.0 - [FirebaseAnalytics][I-ACS800014] Cannot get flag for unregistered flag. SDK name, flag name: app_measurement, session_stitching_token_feature_enabled
9.3.0 - [FirebaseAnalytics][I-ACS800014] Cannot get flag for unregistered flag. SDK name, flag name: app_measurement, session_stitching_token_feature_enabled
9.3.0 - [FirebaseAnalytics][I-

[2022-08-19 07:40] ljmatan commented on #9383
However the issue is present on Android as well

[2022-08-19 07:43] ljmatan commented on #9383
From our Google Dashboard

![Screenshot 2022-08-19 at 09 42 49](https://user-images.githubusercontent.com/73232684/185569417-ce2f45e6-8f00-4a8d-bd23-b76b7e2e49fa.png)

[2022-08-19 08:08] darshankawar commented on #9379
Thanks for the detailed report and repro code sample. Using it, I am seeing same behavior as reported.

/cc @lesnitsky

[2022-08-19 08:41] darshankawar commented on #9381
@m2sahin
This seems to be same / similar to https://github.com/firebase/flutterfire/issues/6290 which has been fixed as part of this PR : https://github.com/firebase/flutterfire/pull/9292, wherein, the plugin example has been updated with instructions on how to test / verify the `onBackgroundMessage` handler.

I have done that already and based on my tests I shared here for your reference:

https:

[2022-08-19 08:58] darshankawar commented on #9381
Update: I got to know from the team that the fix made as part of https://github.com/firebase/flutterfire/pull/9292 is an update to plugin's example app, so there's nothing to release on pub.dev for it.

You can checkout the plugin example: https://github.com/firebase/flutterfire/tree/master/packages/firebase_messaging/firebase_messaging/example and try it out on iOS and confirm at your end. As men

[2022-08-19 09:00] darshankawar commented on #6290
@hatemragab the PR is just an update to the example app to show the background handlers work as intended. There’s nothing to release. The example app is updated so users can see that the API works and if there is a problem, it is something wrong with their setup.

If you look at the PR, all the files updated are in the example/ directory and also a documentation update.

[2022-08-19 10:31] darshankawar commented on #9383
@ljmatan
I tried the latest plugin example and followed the instructions mentioned in it, ran it on iOS device (iphone 6s, OS 15.3.1), sent notifications through node.js through which received notification when app is in background and tapping on it opens the app properly as shown in below video:

https://user-images.githubusercontent.com/67046386/185600116-f60d53a5-6504-486c-a794-00c7536351a5.MOV

[2022-08-19 16:56] rashidotm commented on #9379
You are welcome @darshankawar .

For anyone coming across this bug, I suggested a (sort of) acceptable workaround on this [link:](https://stackoverflow.com/questions/73401713/make-flutterfire-ui-show-some-screens-in-ltr-direction-rather-than-locale-rtl-di)

I think that the suggestion above along with this [method](https://www.youtube.com/watch?v=S05fvqzzgzE) will be a good workaround for short te

[2022-08-19 18:55] jjoelson opened #9384 "# 🐛 [firebase_analytics] Events missing `firebase_screen` when reported right before app goes to the background"
## Bug report

We're observing instances in our analytics data where events that we are recording in response to user UI actions, such as button presses, are missing `firebase_screen`/`firebase_screen_class` parameters. When we look at the individual sessions, we see that these events are immediately preceded by a `user_engagement` event.

Our hypothesis is that this is a scenario where a user tap

[2022-08-20 06:42] accept1248 opened #9385 "🐛 [firebase_firestore/firebase_auth/cloud_firestore/firebase_core] Unknown error occurs"
## Bug report

I have encountered the following error when I tried to login via Flutter Firebase Plugin.
Though the app doesn't crash, but user profile page is not refreshed even I logged in with different user.

<details>
<summary> error log </summary>

[code]

</details>

### Steps to reproduce

### Expected behavior

The app should display information of the logged in user based on firebase dat

[2022-08-20 07:24] ri3tykity opened #9386 "🐛 [FIREBASE_MESSAGGING] App Bundle which has an activity, activity alias, service or broadcast receiver with intent filter, but without 'android:exported' property set"
## Bug report

**Describe the bug**
I am using Firebase_Messagging and other firebase plugin for flutter project.
Local when I build and run application it is working fine.
I am facing issue when I deployed appbundle to play store. It is showing below error and not accepting the bundle:
You uploaded an APK or Android App Bundle which has an activity, activity alias, service or broadcast receiver w

[2022-08-20 07:48] ri3tykity commented on #9386
For the time being I removed Firebase_Messaging and Flutter_Local_Notification package from pubspec.yaml file and release the app.
It is working. But it is temporary solution.

[2022-08-20 09:52] noobcoder95 opened #9387 "🐛 [Firestore] Could not reach Cloud Firestore backend. Backend didn't respond within 10 seconds"
## Bug report

**Describe the bug**
my app is using google_sign_in package to login then after login it will have to access firestore document.
when using android emulator api 33 and some real devices like oppo a 57 after login with google_sign_in nothing happen and then after few minutes waiting and cannot continue the login process, the console will produce something like this:

<details>
<summa

[2022-08-20 13:39] panchalAlpit commented on #9372
Thank you  @darshankawar for giving the idea. last 3 day's and lot's of searching I have fix this issue. I have take SHA-1 from Google developer console(App integrity) and add in Google cloud console project and also set inside Firebase project.

[2022-08-20 13:39] #9372 closed

[2022-08-20 13:50] noobcoder95 commented on #9387
i'm trying run my app in another computer using android emulator and i get this in console debug:
W/Firestore( 9355): (24.2.2) [OnlineStateTracker]: Could not reach Cloud Firestore backend. Backend didn't respond within 10 seconds
W/Firestore( 9355):
W/Firestore( 9355): This typically indicates that your device does not have a healthy Internet connection at the moment. The client will operate in o

[2022-08-20 14:56] MaximMonakhov opened #9388 "🐛 [firebase_crashlytics] [iOS] Problem with upload-symbols dSYM when building under a corporate proxy"
## Bug report

**Describe the bug**

I'm trying to set up Firebase Crashlytics on iOS since it's a great tool, but I'm having problems because the build is running under a corporate proxy with authentication.
During the build, the following problem occurs.
From what I understand, these dSYMs are needed to catch bugs in iOS, but I don't need that and am only interested in Flutter bugs. How to disab

[2022-08-20 15:03] m2sahin commented on #9300
When will this nonsense end? As far as I understand, there is no solution for this problem for ios, so it is impossible. firebase_messaging is disappointing for me :(

[2022-08-20 15:40] noobcoder95 commented on #9387
I just run my app in iOS simulator using the latest release of Firestore sdk from this repo https://github.com/invertase/firestore-ios-sdk-frameworks.git and everything is fine.
Seems like this bug is only happen in android

[2022-08-20 15:56] t00fi opened #9389 "Local module descriptor class for com.google.android.gms.providerinstaller.dynamite not found"
when ever using cloud_firestore to upload data or get data from firebase it gives this error

[2022-08-20 17:07] mrorabau opened #9390 "[odm]Error: The getter 'element2' isn't defined for the class 'DartType'."
### Discussed in https://github.com/firebase/flutterfire/discussions/9382

<div type='discussions-op-text'>

<sup>Originally posted by **motucraft** August 19, 2022</sup>
Hi team,

[code]

I get the following error and cannot generate code Is there a problem with my model definition? However, it worked fine until 1.0.0-dev.26. Is this PR influenced by this [PR(replace deprecated elements from anal

[2022-08-20 17:08] mrorabau commented on #9390
Fix for this is in my PR: https://github.com/firebase/flutterfire/pull/8386 (along with Enum support)

[2022-08-20 18:18] like-github1 opened #9391 "[firebase_auth] sms code auto retrieval (auto detect and login) not working, I got an error, [SmsRetrieverHelper] Timed out waiting for SMS."
## Bug report

**Describe the bug**
I am using Firebase OTP to verify the phone number, but I got this error when I trying to get  OTP SMS code to my phone, [SmsRetrieverHelper]. I timed out. I got this error when I tried waiting for an SMS.

[](https://i.stack.imgur.com/fiUZ0.png)
![otp](https://user-images.githubusercontent.com/92579234/185761145-0b3204e5-cacd-4e85-86b1-f43475dd421c.PNG)

[2022-08-20 21:41] ASE55471 opened #9392 "🐛 [firebase_auth] Issue when using eumlator with google_sign_in"
## Bug report

**Describe the bug**
I am able to login with google_sign_in when using real authentication, For runing localy firebase emulator suite only supports "id_token" but "id_token" is always return null from google_sign_in.

### Steps to reproduce

Steps to reproduce the behavior:

1. using `firebase_auth: ^3.6.1`
2. using `google_sign_in: ^5.4.0`
3. add `FirebaseAuth.instance.useAuthEmula

[2022-08-21 09:26] MousyBusiness commented on #8384
I've just hit this and I think the warning is a red herring...
Other than the normal 100million cleans, version changes and rebuilds, I did two things that eventually go this working again .
1. APIs & Services > OAuth Consent Screen > Edit app... (There was a new email requirement and my scope were empty, I added  "openid",
            "https://www.googleapis.com/auth/userinfo.email",

[2022-08-21 18:03] ASE55471 commented on #9392
Flutterfire cli doc says:

But seems it's not working for me, I have tried 0.2.0 and 0.2.4 both didn't add google-services plugin for me. So just add it manually.

[2022-08-21 18:03] #9392 closed

[2022-08-22 01:03] #9221 closed

[2022-08-22 01:22] windows7lake commented on #9244
I also reproduce with above steps. @darshankawar，a lot of crash was report everyday，pls fixed it. Thanks!

[2022-08-22 06:20] Lyokone commented on #9363
Fixed in `firebase_auth: ^3.6.4`

[2022-08-22 06:20] #9363 closed

[2022-08-22 06:21] darshankawar commented on #9300
@m2sahin Please check [github's code of conduct](https://docs.github.com/en/site-policy/github-terms/github-event-code-of-conduct#code-of-conduct).

[2022-08-22 06:24] Lyokone commented on #9390
Hey, `element2` is included in the latest version of analyzer (it was causing a deprecated error).
I see that Firestore ODM is resolving analyzer to 4.6.0 (we should probably up the dependency version), do you have the same version on your side?

[2022-08-22 06:38] bilalsammour opened #9393 "🐛 [cloud_firestore] iOS, Takes too long to build on m1 ship"
## Bug report

When building the iOS version, it takes > 30 minutes to build on my laptop that has m1 ship with 64GB RAM.

### Steps to reproduce

1. Create a Flutter project.
2. Add `cloud_firestore: ^3.4.5` to the dependencies.
3. Run the iOS project on an m1 ship MAC.
4. You have to wait > 20 minutes to see the output!

### Expected behavior

It should take a reasonable time to build.

### Samp

[2022-08-22 06:56] cnwangxiao commented on #9376
@darshankawar

I tested [this comment](https://github.com/firebase/flutterfire/issues/8416#issuecomment-1091668005), pinning Firebase dependencies to old version helped.
[code]

But i tested [this comment](https://github.com/firebase/flutterfire/issues/8416#issuecomment-1091899614) and not worked for me.
In [document](https://firebase.flutter.dev/docs/analytics/get-started),  it didn't mentioned t

[2022-08-22 07:04] darshankawar commented on #9385
@accept1248
The app you cloned doesn't seem to be uptodate with plugin versions it is using and seems to be using very old versions of flutterfire plugins.

<img width="279" alt="Screenshot 2022-08-22 at 12 30 53 PM" src="https://user-images.githubusercontent.com/67046386/185858951-50910622-fc60-42ef-9e03-2f77dcf5c8c1.png">

I suggest you to upgrade all flutterfire plugins to latest versions as be

[2022-08-22 07:41] darshankawar commented on #9386
@ri3tykity
Can you try [this](https://stackoverflow.com/a/70697686) solution and see if it works for you ?
If above doesn't work, can you try to add the missing property `android:exported=true` below and check if it helps ?

At native firebase side, the property seems to be present already:

https://github.com/firebase/firebase-android-sdk/blob/58c167795980b296c737ffce044c29c7ff1926d3/firebase-mes

[2022-08-22 07:55] darshankawar commented on #9387
@noobcoder95
For `OnlineStateTracker]: Could not reach Cloud Firestore backend. Backend didn't respond within 10 seconds`, please follow-up in https://github.com/firebase/flutterfire/discussions/5546 and check if any of the underlying comments help.

For `Unhandled Exception: [cloud_firestore/unavailable] The service is currently unavailable. This is a most likely a transient condition and may be

[2022-08-22 08:16] darshankawar commented on #9388
This indicates a general SSL failure and as you mentioned, you are behind a corporate proxy, hence, flutterfire may not have any control over the proxy settings.
Can you provide the `UserInfo` part of the error message ?

Also try to set the http_proxy and https_proxy in wifi config instead of in shell and see if it helps.

[2022-08-22 08:25] darshankawar commented on #9389
@t00fi
When opening an issue, please use [new issue template](https://github.com/firebase/flutterfire/issues/new?assignees=&labels=Needs+Attention%2C+type%3A+bug&template=---bug-report.md&title=%F0%9F%90%9B+%5BPLUGIN_NAME_HERE%5D+Your+issue+title+here) and fill out requested details so that we'll have enough info to work with.
Currently, no details are provided so we can't proceed to make it actio

[2022-08-22 08:25] #9389 closed

[2022-08-22 08:26] anthonyhunter opened #9394 "🐛 [firebase_auth] MultiFactorResolver.resolveSignIn() throws AssertionError instead of FirebaseAuthException"
## Bug report

`MultiFactorResolver.resolveSignIn()` throws `AssertionError` instead of `FirebaseAuthException` when incorrect verification code is used during MFA authentication workflow.

### Steps to reproduce

Follow [Signing users in with a second factor](https://invertase.io/blog/flutterfire-mfa-tutorial#signing-users-in-with-a-second-factor)

### Expected behavior

When correct verification

[2022-08-22 09:56] darshankawar commented on #9391
@like-github1
Looking at the error : `[SmsRetrieverHelper] Timed out waiting for SMS.`, it seems to be same as https://github.com/firebase/flutterfire/issues/4916, so I suggest you to go through underlying comments and see if they help.

Also, based on [this](https://github.com/firebase/flutterfire/issues/4916#issuecomment-919124231) comment, it doesn't seem to be specific to flutterfire, but seem

[2022-08-22 09:56] #9391 closed

[2022-08-22 10:11] darshankawar commented on #9384
@jjoelson
Thanks for the report and initial analysis. Can you provide more details like which platform (Android, iOS) is this occuring on ?

[2022-08-22 10:31] darshankawar commented on #9393
@bilalsammour
This issue was initially raised few years back: https://github.com/firebase/flutterfire/issues/2751 and the solution (optional) is to add below line in your `ios/podfile`:

https://github.com/firebase/flutterfire/blob/5b5f477d6e633a38bea561cee35db3f628719666/packages/cloud_firestore/cloud_firestore/example/ios/Podfile#L54

Wherein `#{firebase_sdk_version}` represents latest release v

[2022-08-22 10:31] #9393 closed

[2022-08-22 10:53] DieGlueckswurst opened #9395 "🐛 [Firebase Authentication] Persisting authentication state not working on app/web restart user null"
## Bug report

**Describe the bug**
In my latest Flutter app, the user is always logged out (user is null) if I do a **complete** app restart or a **refresh** for web.

According to the docs that should not happen:

### Steps to reproduce

I am using the [go_router](https://pub.dev/packages/go_router) and redirect the user if he is not logged in:

final GoRouter router = GoRouter(
  key: Get.key,

[2022-08-22 11:29] bilalsammour commented on #9393
It reduces the time but it causes an error when doing `archive` for the iOS project, here is a screenshot:

https://www.awesomescreenshot.com/image/31604975?key=0f61d39ac10161cc32da70e8f91740ef

[2022-08-22 11:38] darshankawar commented on #9394
Thanks for the report. On Android side for example, `resolveSignIn()` seems to be throwing an Assertion:

https://github.com/firebase/flutterfire/blob/e67525018cbf60f28a551b7cc0fd95547498dbc1/packages/firebase_auth/firebase_auth/android/src/main/java/io/flutter/plugins/firebase/auth/FlutterFirebaseAuthPlugin.java#L1865

https://github.com/firebase/flutterfire/blob/e67525018cbf60f28a551b7cc0fd95547

[2022-08-22 12:09] darshankawar commented on #9376
@cnwangxiao Curious to know what does `vision` represent ? Does the same behavior occur if you only keep `--flavor` in your command and run ?

Can you try with latest plugin versions ?

[code]

[2022-08-22 12:16] darshankawar commented on #9393
Its not clear what exactly is the error from your screenshot. Please provide properly formatted complete error log in text format.

[2022-08-22 13:11] russellwheatley commented on #8861
Hi @victor-tinoco, I've just tested this code:

[code]

It did not appear in the analytic's dashboard when debugging iOS app. "items" array has a [pre-defined shape](https://github.com/firebase/flutterfire/blob/master/packages/firebase_analytics/firebase_analytics/example/lib/main.dart#L131) and cannot be a list of numbers (like your example). The only solution for me is to throw an exception in t

[2022-08-22 14:12] russellwheatley commented on #9118
Hi @inamaze44, which platform is this happening on?

[2022-08-22 14:16] russellwheatley commented on #7243
Hey @pranav-asthi, which platform are you experiencing this on?

[2022-08-22 14:36] inamaze44 commented on #9118
Hi @russellwheatley! I have this behaviour on my real IPhone13 in flight mode.

[2022-08-22 15:23] accept1248 commented on #9385
Hi, @darshankawar
Thank you for your comment.
The Firebase packages I used in my app was not too old, though it was not the latest.
Please see Flutter dependencies.
I replaced all Firebase packages with the latest one you listed just to be sure, but the same error occurs again.

Excuse me but, could you tell me which part of the app uses old integration with Firebase?

[2022-08-22 15:31] russellwheatley commented on #8575
I think I'd prefer to do the Map checks in the dart layer before it gets to the android side. We're getting the map from the parameters passed in from  the Dart layer`logEvent()`  and calling Firebase Android SDK own `logEvent()`. My sense is we should update the log event function in the dart layer to stop any unallowed params from being passed in.

The only map allowed, as far as I can tell, is

[2022-08-22 19:59] VovaMedvediev commented on #4188
Actually, it isn't fixed.
getInitialMessage() is called 2-3 times on Android.

[2022-08-22 20:16] JaviBonilla commented on #9369
After updating to the latest version of `firebase_app_check` from `0.0.6+19` to `0.0.6+20` and following [this procedure I mentioned above](https://github.com/firebase/flutterfire/issues/9369#issuecomment-1219481968) I'm getting the following error, there is no way I can do this without instanciating App Check again.

I verified that it working for `0.0.6+19`.

[2022-08-22 20:32] Turburlar opened #9399 "[cloud_firestore] Flutter app data writes do not show up in Firestore Emulator UI."
I am testing my app using the firestore emulator.

When writes occur from the app, they are not reflected in the emulator web UI.

Steps to reproduce:

Test system:
Ubuntu 22.04
Android Client on Emulator

Start the emulator
1. Create a new directory, and from within run the command 'firebase init'.
2. Select 'Emulators' to init, and then select the option to create a new project.
3. When prompted

[2022-08-22 21:59] JaviBonilla commented on #9369
I've done more testing, and I'm not sure this issue is related to the version, because it seems it also happens in `0.0.6+19`, although it seems to happen only some times.

[2022-08-23 00:37] MousyBusiness commented on #8091
This did not work

[2022-08-23 01:03] #9256 closed

[2022-08-23 02:28] MichaelRFairhurst opened #9400 "🐛 [core-web] Using a name in initializeApp results in "No Firebase App '[DEFAULT]' has been created""
## Bug report

For android, I can call initializeApp with an app name and have no issues:

[code]

But on web, providing the name like this results in the error

[code]

It works when initializeApp is called with no name (or with a name of [DEFAULT])

[code]

This may have been the issue behind #9269 (notice the user specified an app name in their example) and #9256 (notice the maintainer who resp

[2022-08-23 03:04] victor-tinoco commented on #8861
Hey Russel,

Right, it was a misleading (and coincidence) when providing an example and trying to name, generically, the list. Taking a look into `logEvent` method's implementation it seems that the `items` key-word is reserved:
<img width="563" alt="image" src="https://user-images.githubusercontent.com/49794086/186058344-91c7995a-183b-4bfb-abdb-4fce478d8a5d.png">
First of all, it surely should be

[2022-08-23 03:43] MuhammadFaizan980 commented on #4188
exactly @VovaMedvediev, I don;t know why this was marked as closed while the issue still persists

[2022-08-23 03:49] YosbelGonzalez01 opened #9401 "Having this issue a couple of days back"
[code]

[2022-08-23 04:58] scatboy777 commented on #9328
If you are talking about the update query then the entire code entire is what I already provided:
[code]

I am not sure to understand the question. If the user is not null the update query is executed without error.

Are we sure that the error message (see first post) is related to arrayUnion ?
As a reminder I am not able to reproduce the problem. Only Apple is getting this error while they check

[2022-08-23 05:57] darshankawar commented on #4188
@MuhammadFaizan980
Can you provide logs where it shows the issue still persists along with ? Are you seeing this on Android or iOS ?

The fix made by the team which closed this issue, was for iOS mainly if you look at the PR: https://github.com/firebase/flutterfire/pull/9315

If you are seeing this issue on Android specifically, please file a new issue for better tracking.

[2022-08-23 06:26] cnwangxiao commented on #9376
[code]
not worked for me

`vision` it's just the name of a flavor, you can call it anything

[code]

[2022-08-23 06:47] darshankawar commented on #9395
Thanks for the report @DieGlueckswurst
Can you replicate the behavior without `go_router` too ? like by doing:

- Login to web app
- Refresh the page

[2022-08-23 06:49] HTsuruo opened #9402 "🐛 [firebase_auth] MFA enabled user calls `reauthenticateWithCredential` method throws FirebaseAuthException."
## Bug report

**Describe the bug**
MFA enabled user calls `reauthenticateWithCredential` method throws FirebaseAuthException, error code is `second-factor-required`.

### Steps to reproduce

Steps to reproduce the behavior:

1. Enroll MFA with `enroll` method
2. You try the sensitive operation that requires recent authentication.
    - example: try to MFA unenroll or password change etc..
3. If y

[2022-08-23 07:37] darshankawar commented on #9399
@Turburlar
Based on the log you shared above, it seems the emulator is getting disconnected with below error:

`[com.google.cloud.datastore.emulator.firestore.websocket.WebSocketChannelHandler.channelClosed:81] Websocket client disconnected` and hence you probably aren't able to see the updated data.

Since this is related to firebase emulator, you'll need to raise this issue in dedicated repo: ht

[2022-08-23 07:37] #9399 closed

[2022-08-23 07:42] russellwheatley commented on #8861
@victor-tinoco - yes, correct, which is why I suggested we ought to throw an exception if it doesn't follow the correct schema. I am curious if you see those primitive values appear in the Firebase Analytics dashboard if you put them in a list when using iOS? I suspect not, as far as I'm aware, Item in the [Items](https://firebase.google.com/docs/reference/android/com/google/firebase/analytics/Fir

[2022-08-23 08:23] darshankawar commented on #9400
Thanks for the report @MichaelRFairhurst.
I ran the official plugin example https://github.com/firebase/flutterfire/tree/master/packages/firebase_core/firebase_core/example on web which has `name` for the app and it compiled and built properly as shown in below video:

https://user-images.githubusercontent.com/67046386/186109008-e7ed039c-40c9-40c3-bc69-01b0d19135b5.mov

Can you try the same exampl

[2022-08-23 08:49] MichaelRFairhurst commented on #9400
Thanks for the fast response -- I will take a look tomorrow.

However I can already see one place that may be the issue with this
attempted reproduction: it does not call `.instance`, which is present in
the stack trace of one (and `getInstance` is the erring method in the
other).

On Tue, Aug 23, 2022, 1:23 AM darshankawar ***@***.***> wrote:

[2022-08-23 09:27] KoheiKanagu commented on #9050
A different token might be generated if the apk is signed by the Google PlayStore.
https://github.com/firebase/flutterfire/discussions/7998#discussioncomment-2815263

[2022-08-23 09:30] KoheiKanagu commented on #6551
In my case, enabling the Play Integrity API solved the problem on Android.
https://firebase.google.com/docs/app-check/android/play-integrity-provider

[2022-08-23 09:56] darshankawar commented on #9385
@accept1248
I have gone through the repo you shared above and it is hard to tell what exactly could be causing the issue you are facing, because there are lot of other factors in play such as third party plugins like cubit and bloc.

The error could be pointing to https://github.com/maxonflutter/flutter_dating_app_series/blob/master/lib/repositories/database/database_repository.dart, but as I said

[2022-08-23 09:56] #9385 closed

[2022-08-23 10:09] bilalsammour commented on #9393
Here is the log:
[Local.txt](https://github.com/firebase/flutterfire/files/9401590/Local.txt)

Also, here is another log for a different project using Codemagic:
[codemagic.log](https://github.com/firebase/flutterfire/files/9401593/codemagic.log)

[2022-08-23 10:12] darshankawar commented on #9401
@YosbelGonzalez01
The error you shared is pointing to below:

https://github.com/firebase/flutterfire/blob/7418dfd91c4fc7982c6bc6b1e8de80f9bccd575b/packages/cloud_firestore/cloud_firestore/ios/Classes/FLTTransactionStreamHandler.m#L138

https://github.com/firebase/flutterfire/blob/7418dfd91c4fc7982c6bc6b1e8de80f9bccd575b/packages/cloud_firestore/cloud_firestore/ios/Classes/FLTTransactionStreamHand

[2022-08-23 10:56] darshankawar commented on #9402
Thanks for the report. I am seeing same behavior as reported, ie, getting a `FirebaseAuthException` with code `second-factor-required`.

[2022-08-23 11:01] russellwheatley commented on #8073
I think I've addressed all uses of deprecated android API.

Performance deprecations are addressed in this PR:https://github.com/firebase/flutterfire/pull/9334.

The last outstanding deprecation is the FirebaseMessaging [JobIntentService](https://github.com/firebase/flutterfire/blob/master/packages/firebase_messaging/firebase_messaging/android/src/main/java/io/flutter/plugins/firebase/messaging/Jo

[2022-08-23 11:08] darshankawar commented on #9393
Below are the errors from your log file:

[code]

Pointing to latest version of `cloud_firestore`. Can you try clearing pub cache and then `flutter clean` and see if it helps ?

[2022-08-23 11:14] darshankawar commented on #9328
Thanks for the feedback. I am keeping this issue open and labeling for team's insights on it, as there's no replicable code sample and steps.

/cc @russellwheatley

[2022-08-23 11:28] darshankawar commented on #9376
Thanks for the update @cnwangxiao
Can you provide a minimal complete reproducible code sample including `flavor` setup ?

[2022-08-23 11:53] darshankawar commented on #9353
Revisiting this issue, I verified this as below and observed that `isNotEqualTo` works properly and returns correct data:

1. Firestore documents data:

<img width="225" alt="Screenshot 2022-08-23 at 5 17 51 PM" src="https://user-images.githubusercontent.com/67046386/186150613-f8d84a0b-261f-4d50-9159-e8899cea0f41.png">
<img width="246" alt="Screenshot 2022-08-23 at 5 17 57 PM" src="https://user-im

[2022-08-23 12:00] darshankawar commented on #9393
Is it only started to occur after you added [this](https://github.com/firebase/flutterfire/issues/9393#issuecomment-1222164196) change ?
If you remove / comment above change and archive the project, does it throw same error ?

[2022-08-23 12:18] bilalsammour commented on #9393
@darshankawar
Yes, when removing it, I can do the archiving.

[2022-08-23 12:54] SKnoedler commented on #9376
I have had the same error but I am not receiving the error anymore and I cannot reproduce it.

However, I had to make a change in android/build.gradle:
`subprojects {
    project.buildDir = "${rootProject.buildDir}/${project.name}"
    project.evaluationDependsOn(':app')
}
`
to
`subprojects {
    project.buildDir = "${rootProject.buildDir}/${project.name}"
}
subprojects {
    project.evaluationDep

[2022-08-23 13:14] darshankawar commented on #9393
I believe you are hitting https://github.com/firebase/flutterfire/issues/9015, so please follow-up in it.
You can check if [this](https://github.com/firebase/flutterfire/issues/9015#issuecomment-1193825846) solution works for you.

[2022-08-23 13:32] russellwheatley commented on #9328
In a nutshell; `query` is an `NSNull` type and isn't being picked up by this check: https://github.com/firebase/flutterfire/blob/master/packages/cloud_firestore/cloud_firestore/ios/Classes/FLTFirebaseFirestorePlugin.m#L455

This is why you're getting this error:

[code]

It is saying `NSNull` does not have the selector `getDocumentsWithSource:completion:`. I've created a PR to fix this bug althoug

[2022-08-23 13:47] bilalsammour commented on #9393
@darshankawar
It is working after adding:
[code]

But now it takes more time on `codemagic` , ~5mins extra

[2022-08-23 16:03] Wizzel1 commented on #9353
@darshankawar thanks for checking back. Can you also confirm that it works with this query :

[code]
   Where the documents get ordered by "population" ?

[2022-08-23 18:36] MichaelRFairhurst commented on #9400
From the example app, all I had to do was initialize the secondary app (not the primary) and then hit "get default config."

On android it works fine:

[code]

But on web it crashes:

[code]

[2022-08-23 18:50] MichaelRFairhurst commented on #9400
#9330 appears to be the same issue. Their described fix:

They are using a name in their example config

[code]

"calling `initializeApp()` with empty parameters", would mean not providing a `name`, so this fits with my theory.

[2022-08-24 01:03] #9280 closed

[2022-08-24 02:16] YosbelGonzalez01 commented on #9401
Hello @darshankawar  thanks for your response im still having this issue i have done almost everything and the issue persist

[2022-08-24 04:37] siisee11 commented on #9269
Exactly same error here with ` firebase_core: ^1.21.0`

[2022-08-24 06:16] KoheiKanagu commented on #6940
Only DeviceCheck appears to be supported.

https://firebase.google.com/docs/app-check/flutter/default-providers#project-setup:~:text=Device%20Check%20on%20Apple%20platforms

https://github.com/firebase/flutterfire/blob/da36b9861b7d635382705b4893eed85fd672125c/packages/firebase_app_check/firebase_app_check/ios/Classes/FLTFirebaseAppCheckPlugin.m#L111-L125